@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.eot");
  src: local("☺"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype"), url("../fonts/CeraPro-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Light.eot");
  src: local("☺"), url("../fonts/CeraPro-Light.woff") format("woff"), url("../fonts/CeraPro-Light.ttf") format("truetype"), url("../fonts/CeraPro-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.eot");
  src: local("☺"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype"), url("../fonts/CeraPro-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.eot");
  src: local("☺"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype"), url("../fonts/CeraPro-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams.eot");
  src: local("☺"), url("../fonts/CaviarDreams.woff") format("woff"), url("../fonts/CaviarDreams.ttf") format("truetype"), url("../fonts/CaviarDreams.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/Caviar_Dreams_Bold.eot");
  src: local("☺"), url("../fonts/Caviar_Dreams_Bold.woff") format("woff"), url("../fonts/Caviar_Dreams_Bold.ttf") format("truetype"), url("../fonts/Caviar_Dreams_Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  font-family: "Cera Pro", sans-serif;
  color: #2b2b2b;
}

body.modal-open {
  overflow: hidden;
}

@media screen and (max-width: 1439px) {
  body.menu-open {
    overflow: hidden;
  }
}

@media screen and (min-width: 1440px) {
  section {
    padding-top: 120px;
  }
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 0 150px;
    width: 1440px;
  }
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: #487996;
}
@media screen and (min-width: 768px) {
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    color: #487996;
  }
}
@media screen and (min-width: 1440px) {
  .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.25;
    color: #487996;
  }
}

.subtitle, .work-examples__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.27;
  color: #487996;
}
@media screen and (min-width: 768px) {
  .subtitle, .work-examples__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    color: #487996;
  }
}
@media screen and (min-width: 1440px) {
  .subtitle, .work-examples__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    color: #487996;
  }
}

@media screen and (max-width: 1439px) {
  .work-examples {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .work-examples {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .work-examples__title {
    max-width: 439px;
  }
}

.work-examples__image:nth-child(odd) {
  border-bottom-left-radius: 50px;
}
.work-examples__image:nth-child(even) {
  border-radius: 50px 0px;
}
@media screen and (min-width: 768px) {
  .work-examples__image {
    min-width: 100%;
  }
}

.work-examples__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 470px) and (max-width: 767px) {
  .work-examples__list {
    max-width: 280px;
  }
}
@media screen and (max-width: 767px) {
  .work-examples__list {
    margin-top: 16px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .work-examples__list {
    margin-top: 24px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .work-examples__list {
    margin-top: 40px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 767px) {
  .work-examples__item {
    max-width: 130px;
    width: calc((100% - 20px) / 2);
  }
  .work-examples__item:nth-child(odd) {
    margin-right: 20px;
  }
  .work-examples__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .work-examples__item {
    max-width: 152px;
    width: calc((100% - 96px) / 4);
  }
  .work-examples__item:not(:last-child) {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .work-examples__item {
    max-width: 320px;
  }
}

.work-examples__btn-box {
  text-align: center;
}

.order-form__button {
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
  background-color: #f5f5fa;
  color: #487996;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: inline-block;
  max-width: 280px;
}

.container {
  padding-top: 44px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .container {
    padding-top: 30px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding-bottom: 100px;
    padding-left: 149px;
  }
}

.modeling-hero__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.24;
  color: #487996;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .modeling-hero__title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .modeling-hero__title {
    font-size: 48px;
    margin-bottom: 24px;
  }
}

.modeling-hero__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
@media screen and (min-width: 1440px) {
  .modeling-hero__list {
    display: flex;
    gap: 72px;
  }
}

.modeling-hero__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;
}
@media screen and (min-width: 768px) {
  .modeling-hero__item {
    width: 515px;
  }
}
@media screen and (min-width: 1440px) {
  .modeling-hero__item {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .modeling-hero__item .container {
    padding-left: 32px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .modeling-hero__item .container {
    padding-left: 149px;
    padding-bottom: 100px;
  }
}
.modeling-hero__item .methods__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;
  text-transform: uppercase;
  color: #487996;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .modeling-hero__item .methods__title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .modeling-hero__item .methods__title {
    font-size: 36px;
    margin-bottom: 24px;
  }
}
.modeling-hero__item .methods__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;
}
.modeling-hero__item .methods__item:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 1440px) {
  .modeling-hero__item .methods__item {
    font-size: 18px;
  }
}
.modeling-hero__item .methods__item::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #487996;
  border-radius: 3px 0px;
  left: 8px;
}

.main-bg-wrap {
  height: 100%;
  overflow: hidden;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}
.main-bg-wrap__element {
  width: 144px;
  height: 144px;
}

.el-1 {
  position: absolute;
  top: 1px;
  left: 291px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0 72px 72px 0;
}

.el-2 {
  position: absolute;
  height: 114px;
  top: 42px;
  left: 569px;
  background: #FFFFFF;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 72px 72px;
}

.el-3 {
  position: absolute;
  top: 1px;
  right: 267px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0 0 72px;
}

.el-4 {
  position: absolute;
  background-color: #fff;
  top: 1px;
  left: 30px;
  border-radius: 72px 0 0 0;
  z-index: -1;
}

.el-5 {
  position: absolute;
  top: 145px;
  left: 30px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 72px 0;
}

.el-6 {
  position: absolute;
  top: 140px;
  left: 174px;
  border-radius: 72px;
  overflow: hidden;
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
}

.el-7 {
  position: absolute;
  top: 145px;
  right: 176px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
}

.el-8 {
  position: absolute;
  top: 145px;
  right: 32px;
  border-radius: 0 0 72px 0;
  overflow: hidden;
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
}

.el-9 {
  position: absolute;
  top: 290px;
  right: 176px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;
}

.el-10 {
  position: absolute;
  top: 290px;
  left: 174px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0 72px 0 0;
}

.el-11 {
  position: absolute;
  top: 434px;
  left: 30px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0 72px;
}

.el-12 {
  position: absolute;
  top: 578px;
  left: 174px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 72px 0;
}

.el-13 {
  position: absolute;
  top: 699px;
  left: 30px;
  border-radius: 72px;
  overflow: hidden;
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
}

.el-14 {
  width: 110px;
  position: absolute;
  top: 844px;
  left: 30px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 72px 0;
}

.el-15 {
  width: 141px;
  height: 161px;
  position: absolute;
  top: 1244px;
  left: 30px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px;
}

.el-16 {
  position: absolute;
  top: 1940px;
  left: 174px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0 72px 0 0;
}

.el-17 {
  width: 141px;
  height: 145px;
  position: absolute;
  top: 2058px;
  left: 30px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;
}

.el-18 {
  position: absolute;
  top: 2598px;
  left: -58px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;
}

.el-19 {
  position: absolute;
  top: 434px;
  right: 32px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px;
}

.el-20 {
  position: absolute;
  top: 578px;
  right: 176px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;
}

.el-21 {
  position: absolute;
  top: 578px;
  right: 32px;
  border-radius: 72px 72px 0 0;
  overflow: hidden;
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
}

.el-22 {
  height: 124px;
  position: absolute;
  top: 722px;
  right: 32px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;
}

.el-23 {
  width: 142px;
  position: absolute;
  top: 1021px;
  right: 32px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px 0px 0;
}

.el-24 {
  position: absolute;
  top: 1165px;
  right: -64px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;
}

.el-25 {
  position: absolute;
  top: 1512px;
  right: 32px;
  border-radius: 72px;
  overflow: hidden;
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
}

.el-26 {
  height: 142px;
  position: absolute;
  top: 2058px;
  right: 32px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 72px;
}

.el-27 {
  width: 143px;
  height: 145px;
  position: absolute;
  top: 2736px;
  right: 32px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0;
}

.el-28 {
  height: 116px;
  position: absolute;
  top: 2881px;
  right: 175px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0 72px;
}

.hero__title {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  font-family: "Caviar Dreams";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  color: #2b2b2b;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 336px;
    margin-bottom: 60px;
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    width: 630px;
    font-size: 48px;
  }
}

.hero__text {
  margin-top: 32px;
  font-family: "Caviar Dreams";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #2b2b2b;
}
@media screen and (min-width: 768px) {
  .hero__text {
    margin-top: 60px;
    font-size: 18px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1440px) {
  .hero__text {
    font-size: 36px;
  }
}

.hero__list {
  display: flex;
  justify-content: center;
  gap: 12px;
}
@media screen and (min-width: 350px) {
  .hero__list {
    gap: 15px;
  }
}
@media screen and (min-width: 768px) {
  .hero__list {
    gap: 29px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__list {
    gap: 32px;
  }
}

.hero__img1 {
  border-radius: 0px 35px 0px 0px;
}
@media screen and (min-width: 1440px) {
  .hero__img1 {
    border-radius: 0px 72px 0px 0px;
  }
}

.hero__img2 {
  border-radius: 100px;
}

.hero__img3 {
  border-radius: 0px 25px;
}
@media screen and (min-width: 1440px) {
  .hero__img3 {
    border-radius: 0px 72px;
  }
}

.hero__link {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  bottom: 8px;
  left: 102px;
}
@media screen and (max-width: 767px) {
  .hero__link {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .hero__link {
    width: 32px;
    height: 32px;
    top: 15px;
    left: 81px;
  }
}

.hero__item {
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.3));
}

@media screen and (min-width: 1440px) {
  .hero__icon {
    width: 32px;
    height: 32px;
  }
}

.photos__container {
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 20px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .photos__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .photos__container {
    max-width: 768px;
    padding: 0 32px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .photos__container {
    max-width: 1440px;
    padding: 0 149px;
    margin-bottom: 100px;
  }
}

.photos__title {
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 16px;
  color: #487996;
}
@media screen and (min-width: 768px) {
  .photos__title {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .photos__title {
    font-size: 48px;
    line-height: 1.25;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .photos__list {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
  }
}

.photos__item:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .photos__item {
    margin: 16px;
  }
}

.photos__link {
  cursor: zoom-in;
}

.loading {
  padding-top: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .loading {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .loading {
    padding-top: 19px;
  }
}

.loading__container {
  position: relative;
  width: 29px;
  height: 29px;
  margin: auto;
}

.loading_element {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 1px;
  height: 5px;
  border-radius: 1px 1px 0 0;
  -o-border-radius: 1px 1px 0 0;
  -ms-border-radius: 1px 1px 0 0;
  -webkit-border-radius: 1px 1px 0 0;
  -moz-border-radius: 1px 1px 0 0;
  transform: scale(0.4);
  -o-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  animation-name: loading-spinner;
  -o-animation-name: loading-spinner;
  -ms-animation-name: loading-spinner;
  -webkit-animation-name: loading-spinner;
  -moz-animation-name: loading-spinner;
  animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}

.element_01 {
  left: 0;
  top: 13px;
  animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  -ms-animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

.element_02 {
  left: 4px;
  top: 4px;
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.element_03 {
  left: 13px;
  top: 1px;
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}

.element_04 {
  right: 4px;
  top: 4px;
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.element_05 {
  right: 1;
  top: 13px;
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

.element_06 {
  right: 5px;
  bottom: 3px;
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
}

.element_07 {
  bottom: 0;
  left: 15px;
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.element_08 {
  left: 5px;
  bottom: 3px;
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
}

@keyframes loading-spinner {
  0% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}
@-webkit-keyframes loading-spinner {
  0% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}
.overlay:not(:target) {
  display: none;
}

.overlay:target {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(43, 43, 43, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.overlay__img-wrap {
  position: absolute;
  width: 100%;
  padding-left: 42px;
  padding-right: 42px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
@media screen and (min-width: 480px) {
  .overlay__img-wrap {
    width: 236px;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .overlay__img-wrap {
    display: flex;
    justify-content: center;
    width: 554px;
    padding: 0;
  }
}
@media screen and (min-width: 1440px) {
  .overlay__img-wrap {
    width: 906px;
    padding: 0;
  }
}

.close {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 30px;
  text-decoration: none;
}

.arrow-scroll {
  display: flex;
}

.arrow-wrap {
  position: absolute;
  display: flex;
  color: #ffffff;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-right {
  right: 21px;
  fill: currentColor;
}
@media screen and (min-width: 480px) {
  .arrow-right {
    right: -20px;
  }
}
@media screen and (min-width: 768px) {
  .arrow-right {
    right: -42px;
  }
}
@media screen and (min-width: 1440px) {
  .arrow-right {
    right: -52px;
  }
}

.arrow-left {
  left: 19px;
  fill: currentColor;
}
@media screen and (min-width: 480px) {
  .arrow-left {
    left: -21px;
  }
}
@media screen and (min-width: 768px) {
  .arrow-left {
    left: -42px;
  }
}
@media screen and (min-width: 1440px) {
  .arrow-left {
    left: -52px;
  }
}

.overlay__icon {
  fill: #ffffff;
  width: 11px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .overlay__icon {
    width: 26px;
    height: 26px;
  }
}
@media screen and (min-width: 1440px) {
  .overlay__icon {
    width: 42px;
    height: 42px;
  }
}
.arrow-scroll:hover .overlay__icon, .arrow-scroll:focus .overlay__icon {
  fill: #487996;
}

.gallery {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__container {
    padding-left: 149px;
    padding-right: 149px;
  }
}

.gallery__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: #487996;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    margin-bottom: 32px;
    font-size: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__title {
    margin-bottom: 62px;
    font-size: 48px;
  }
}

.gallery__list {
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media screen and (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__list {
    gap: 40px 32px;
  }
}

.gallery__item {
  width: 280px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: 336px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__item {
    width: 555px;
  }
}

.gallery__item:hover, .gallery__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.gallery__description {
  margin-top: 8px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: #487996;
}
@media screen and (min-width: 768px) {
  .gallery__description {
    margin-top: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__description {
    margin-top: 16px;
    font-size: 18px;
    line-height: 1.28;
  }
}

.modeling-bg {
  height: 100%;
  overflow: hidden;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}
.modeling-bg__el-1 {
  position: absolute;
  width: 141px;
  height: 144px;
  top: 0px;
  left: 267px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0 72px 72px 0;
}
.modeling-bg__el-2 {
  position: absolute;
  width: 141px;
  height: 144px;
  top: 0px;
  right: 267px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px 0px 72px;
}
.modeling-bg__el-3 {
  position: absolute;
  width: 82px;
  height: 78px;
  top: 190px;
  left: 35px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 72px 0px;
}
.modeling-bg__el-4 {
  position: absolute;
  width: 144px;
  height: 137px;
  top: 152px;
  right: 32px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;
}
.modeling-bg__el-5 {
  position: absolute;
  width: 137px;
  height: 144px;
  top: 665px;
  right: 31px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px;
}
.modeling-bg__el-6 {
  position: absolute;
  width: 137px;
  height: 144px;
  top: 818px;
  left: -22px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;
}

.printing-bg {
  height: 100%;
  overflow: hidden;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}
.printing-bg__el-1 {
  position: absolute;
  width: 141px;
  height: 144px;
  top: 0px;
  left: 267px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0 72px 72px 0;
}
.printing-bg__el-2 {
  position: absolute;
  width: 141px;
  height: 144px;
  top: 0px;
  right: 267px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px 0px 72px;
}
.printing-bg__el-3 {
  position: absolute;
  width: 82px;
  height: 78px;
  top: 190px;
  left: 35px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 72px 0px;
}
.printing-bg__el-4 {
  position: absolute;
  width: 137px;
  height: 83px;
  top: 152px;
  right: 32px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;
}
.printing-bg__el-5 {
  position: absolute;
  width: 137px;
  height: 144px;
  top: 705px;
  right: 31px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px;
}
.printing-bg__el-6 {
  position: absolute;
  width: 137px;
  height: 144px;
  top: 818px;
  left: -22px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;
}
.printing-bg__el-7 {
  position: absolute;
  width: 138px;
  height: 145px;
  top: 2058px;
  left: 60px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;
}
.printing-bg__el-8 {
  position: absolute;
  width: 143px;
  height: 145px;
  top: 1708px;
  right: 32px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px;
}
.printing-bg__el-9 {
  position: absolute;
  width: 144px;
  height: 116px;
  top: 1853px;
  right: 175px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;
}
.printing-bg__el-10 {
  position: absolute;
  width: 144px;
  height: 140px;
  top: 2058px;
  right: 33px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 72px;
}

.printing {
  margin-bottom: 37.82px;
}
@media screen and (min-width: 768px) {
  .printing {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .printing {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 100px;
  }
}

.printing__title {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25em;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 16px;
  color: #487996;
}
@media screen and (min-width: 768px) {
  .printing__title {
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1440px) {
  .printing__title {
    font-size: 48px;
    margin-left: 149px;
    margin-right: 667px;
    margin-bottom: 24px;
  }
}

.printing__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 16px 20px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .printing__list {
    max-width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .printing__list {
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .printing__list {
    gap: 32px;
  }
}

.printing__item {
  width: 130px;
  height: 158px;
  background: #FFFFFF;
  opacity: 0.8;
  box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #FFFFFF;
  border-radius: 50px 0px;
}
@media screen and (min-width: 768px) {
  .printing__item {
    width: 152px;
    height: 182px;
  }
}
@media screen and (min-width: 1440px) {
  .printing__item {
    width: 320px;
    height: 382px;
  }
}

.printing-hero__img {
  margin: 0 auto;
  align-content: center;
}

.hero-img__1 {
  margin-top: 27.08px;
  margin-bottom: 17.06px;
  margin-left: 17.08px;
  margin-right: 23.09px;
}
@media screen and (min-width: 768px) {
  .hero-img__1 {
    margin-top: 31.14px;
    margin-bottom: 19.61px;
    margin-left: 19.97px;
    margin-right: 27px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-img__1 {
    margin-top: 40px;
    margin-bottom: 20.97px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.hero-img__2 {
  margin-top: 38.22px;
  margin-bottom: 16.67px;
  margin-left: 17.16px;
  margin-right: 11.96px;
}
@media screen and (min-width: 768px) {
  .hero-img__2 {
    margin-top: 44.02px;
    margin-bottom: 19.2px;
    margin-left: 20.06px;
    margin-right: 13.98px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-img__2 {
    margin-top: 40px;
    margin-bottom: 20.24px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.hero-img__3 {
  margin-top: 31.32px;
  margin-bottom: 16.67px;
  margin-left: 43.68px;
  margin-right: 43.16px;
}
@media screen and (min-width: 768px) {
  .hero-img__3 {
    margin-top: 36.01px;
    margin-bottom: 19.16px;
    margin-left: 51.07px;
    margin-right: 50.46px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-img__3 {
    margin-top: 40px;
    margin-bottom: 20.24px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.hero-img__4 {
  margin-top: 23.9px;
  margin-bottom: 9.25px;
  margin-left: 22.88px;
  margin-right: 23.4px;
}
@media screen and (min-width: 768px) {
  .hero-img__4 {
    margin-top: 27.48px;
    margin-bottom: 10.63px;
    margin-left: 26.75px;
    margin-right: 27.36px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-img__4 {
    margin-top: 40px;
    margin-bottom: 20.24px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.printing-hero__title {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3em;
  text-align: center;
  color: #487996;
}
@media screen and (min-width: 1440px) {
  .printing-hero__title {
    font-size: 18px;
  }
}

.scann {
  padding: 40px 0;
}

.scann__title {
  margin-bottom: 16px;
}

.scann__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 20px;
}

.scann__item {
  width: calc(50% - 20px);
  height: 182px;
  padding: 18px 20px;
  text-align: center;
  background: #ffffff;
  opacity: 0.8;
  box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
}

.scann__item::before {
  content: "";
  background-image: url(../images/bitmap/3d-scanning/mobile/scan-process-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.scann__text {
  text-align: center;
}

.button {
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
  background-color: #f5f5fa;
  color: #487996;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.scanning-bg {
  height: 100%;
  overflow: hidden;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}
.scanning-bg__el-1 {
  position: absolute;
  width: 141px;
  height: 144px;
  top: 0px;
  left: 267px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0 72px 72px 0;
}
.scanning-bg__el-2 {
  position: absolute;
  width: 141px;
  height: 144px;
  top: 0px;
  right: 267px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px 0px 72px;
}
.scanning-bg__el-3 {
  position: absolute;
  width: 82px;
  height: 78px;
  top: 190px;
  left: 35px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 72px 0px;
}
.scanning-bg__el-4 {
  position: absolute;
  width: 144px;
  height: 137px;
  top: 152px;
  right: 32px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;
}
.scanning-bg__el-5 {
  position: absolute;
  width: 137px;
  height: 144px;
  top: 552px;
  right: 31px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px;
}

.scann {
  padding: 40px 0;
}

.scann__title {
  margin-bottom: 16px;
}

.scann__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 20px;
}

.scann__item {
  width: calc(50% - 20px);
  height: 182px;
  padding: 18px 20px;
  text-align: center;
  background: #ffffff;
  opacity: 0.8;
  box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
}

.scann__item::before {
  content: "";
  background-image: url(../images/bitmap/3d-scanning/mobile/scan-process-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.scann__text {
  text-align: center;
}

.button {
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
  background-color: #f5f5fa;
  color: #487996;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.order-bg {
  height: 100%;
  overflow: hidden;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}
.order-bg__el-1 {
  position: absolute;
  width: 141px;
  height: 144px;
  top: 0px;
  left: 267px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0 72px 72px 0;
}
.order-bg__el-2 {
  position: absolute;
  width: 141px;
  height: 144px;
  top: 0px;
  right: 267px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px 0px 72px;
}
.order-bg__el-3 {
  position: absolute;
  width: 82px;
  height: 78px;
  top: 190px;
  left: 35px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 72px 0px;
}
.order-bg__el-4 {
  position: absolute;
  width: 137px;
  height: 83px;
  top: 152px;
  right: 32px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;
}
.order-bg__el-5 {
  position: absolute;
  width: 137px;
  height: 144px;
  top: 818px;
  left: -22px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;
}
.order-bg__el-6 {
  position: absolute;
  width: 143px;
  height: 145px;
  top: 1708px;
  right: 32px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px;
}

@media screen and (min-width: 1440px) {
  .take-order {
    padding-bottom: 100px;
    padding-left: 117px;
  }
}

@media screen and (min-width: 768px) {
  .hero-take-order-inner {
    display: flex;
    gap: 30px;
  }
}

.hero-take-order-title {
  margin-bottom: 16px;
}
@media screen and (min-width: 1440px) {
  .hero-take-order-title {
    margin-bottom: 24px;
  }
}

.hero-take-order__picture {
  background-image: url(/src/images/bitmap/order/mobile/order-img.jpg);
  background-repeat: no-repeat;
  min-width: 280px;
  height: 171px;
  border-radius: 15px;
  margin-bottom: 16px;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-take-order__picture {
    background-image: url(/src/images/bitmap/order/mobile/order-img@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-take-order__picture {
    background-image: url(/src/images/bitmap/order/tablet/order-img.jpg);
    width: 336px;
    height: 158px;
    background-position: center;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-take-order__picture {
    background-image: url(/src/images/bitmap/order/tablet/order-img@2x.jpg);
  }
}
@media screen and (min-width: 1440px) {
  .hero-take-order__picture {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img.jpg);
    min-width: 555px;
    height: 400px;
    background-position: center;
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero-take-order__picture {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img@2x.jpg);
  }
}

.hero-take-order__text-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .hero-take-order__text-list {
    margin-top: 18px;
    gap: 0px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-take-order__text-list {
    margin-top: 0;
  }
}

.hero-take-order__text-item {
  width: 280px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .hero-take-order__text-item {
    width: 336px;
    height: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-take-order__text-item {
    width: 672px;
    height: 46px;
  }
  .hero-take-order__text-item:last-child {
    margin-bottom: 60px;
  }
}

.hero-take-order__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;
}
@media screen and (min-width: 1440px) {
  .hero-take-order__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.27;
    color: #2b2b2b;
  }
}

.hero-take-order__list {
  display: none;
}
@media screen and (min-width: 1440px) {
  .hero-take-order__list {
    display: flex;
    gap: 32px;
  }
}

.hero-take-order__item-one {
  width: 203px;
  height: 203px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img-1.jpg);
  border-top-right-radius: 72px;
  border-bottom-left-radius: 72px;
  border-top-left-radius: 11px;
  border-bottom-right-radius: 11px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-take-order__item-one {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img-1@2x.jpg);
  }
}

.hero-take-order__item-two {
  width: 203px;
  height: 203px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img-2.jpg);
  border-bottom-right-radius: 72px;
  border-top-left-radius: 72px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-take-order__item-two {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img-2@2x.jpg);
  }
}

.hero-take-order__item-three {
  width: 203px;
  height: 203px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img-3.jpg);
  border-bottom-right-radius: 72px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-take-order__item-three {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img-3@2x.jpg);
  }
}

.take-order-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .take-order-con {
    display: block;
  }
}

.take-order-contacts {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 60px;
  margin-right: 70px;
}
@media screen and (min-width: 768px) {
  .take-order-contacts {
    flex-direction: row;
    margin-right: 0;
  }
}
@media screen and (min-width: 1440px) {
  .take-order-contacts {
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 117px;
    padding-bottom: 90px;
  }
}

.take-order-contacts-inner {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media screen and (min-width: 768px) {
  .take-order-contacts-inner__time {
    margin-left: auto;
    text-align: end;
  }
}
@media screen and (min-width: 1440px) {
  .take-order-contacts-inner__time {
    margin-left: 0;
  }
}

.take-order-contacts__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.take-order-contacts__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;
}
@media screen and (min-width: 1440px) {
  .take-order-contacts__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    color: #2b2b2b;
  }
}

.take-order-contacts-time__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.take-order-contacts-time__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  color: #2b2b2b;
}
@media screen and (min-width: 1440px) {
  .take-order-contacts-time__item {
    display: flex;
    justify-content: end;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.25;
    color: #2b2b2b;
  }
}

.mosaics {
  display: none;
}
@media screen and (min-width: 1440px) {
  .mosaics {
    display: flex;
    justify-content: end;
    margin-top: 60px;
  }
}

.mosaics__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 529px;
  height: 293px;
  gap: 10px;
}

.mosaics__figure1 {
  width: 150px;
  height: 145px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img.jpg);
  border-top-right-radius: 72px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mosaics__figure1 {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img@2x.jpg);
  }
}

.mosaics__figure2 {
  width: 150px;
  height: 145px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img.jpg);
  background-position: top;
  border-bottom-left-radius: 72px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mosaics__figure2 {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img@2x.jpg);
  }
}

.mosaics__figure3 {
  width: 150px;
  height: 145px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img.jpg);
  background-position: top right;
  border-top-left-radius: 72px;
  border-bottom-right-radius: 72px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mosaics__figure3 {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img@2x.jpg);
  }
}

.mosaics__figure4 {
  width: 150px;
  height: 145px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img.jpg);
  background-position: bottom left;
  border-bottom-left-radius: 72px;
  border-top-right-radius: 72px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mosaics__figure4 {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img@2x.jpg);
  }
}

.mosaics__figure5 {
  width: 150px;
  height: 145px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img.jpg);
  background-position: bottom;
  border-radius: 72px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mosaics__figure5 {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img@2x.jpg);
  }
}

.mosaics__figure6 {
  width: 150px;
  height: 145px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img.jpg);
  background-position: bottom right;
  border-bottom-right-radius: 72px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mosaics__figure6 {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img@2x.jpg);
  }
}

.contacts-bg {
  height: 100%;
  overflow: hidden;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}
.contacts-bg__el-1 {
  position: absolute;
  width: 141px;
  height: 144px;
  top: 0px;
  left: 267px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0 72px 72px 0;
}
.contacts-bg__el-2 {
  position: absolute;
  width: 141px;
  height: 144px;
  top: 0px;
  right: 267px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px 0px 72px;
}
.contacts-bg__el-3 {
  position: absolute;
  width: 82px;
  height: 78px;
  top: 190px;
  left: 35px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 72px 0px;
}
.contacts-bg__el-4 {
  position: absolute;
  width: 137px;
  height: 83px;
  top: 152px;
  right: 32px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;
}
.contacts-bg__el-5 {
  position: absolute;
  width: 137px;
  height: 144px;
  top: 705px;
  right: 31px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px;
}
.contacts-bg__el-6 {
  position: absolute;
  width: 137px;
  height: 144px;
  top: 818px;
  left: -22px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__flex-box {
    display: flex;
  }
}
.iframe {
  width: 280px;
  height: 171px;
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .iframe {
    width: 336px;
    height: 261px;
    margin-right: 24px;
  }
}

.contacts__title {
  margin-top: 40px;
  margin-right: 0;
  margin-bottom: 16px;
  color: #487996;
  width: 280px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25em;
  text-align: left;
}

.contact__list {
  padding-bottom: 40px;
}

.contacts__item {
  margin-top: 16px;
}

.contacts__text {
  width: 280px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  color: #2b2b2b;
}
@media screen and (min-width: 768px) {
  .contacts__text {
    width: 335px;
  }
}

.contacts__form-title {
  height: 23px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28em;
  text-align: start;
  text-transform: uppercase;
  color: #487996;
}
@media screen and (min-width: 768px) {
  .contacts__form-title {
    margin-bottom: 8px;
  }
}

.contacts__form-title--text {
  text-transform: none;
}

@media screen and (min-width: 768px) {
  .contacts__form-title--position {
    text-align: end;
  }
}

.contacts__form-lable {
  width: 280px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  text-align: justify;
  color: #2b2b2b;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .contacts__form-lable {
    width: 400px;
  }
}

.contacts__form-input {
  margin-bottom: 44px;
  border: none;
  border-bottom: 1px solid #487996;
  width: 280px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  color: #2b2b2b;
}
@media screen and (min-width: 768px) {
  .contacts__form-input {
    width: 400px;
  }
}

.contacts__form-textarea {
  width: 100%;
  max-width: 280px;
  height: 199px;
  border: 1px solid #487996;
  border-radius: 50px 0px;
  padding: 22px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  color: #cdcdcd;
}
@media screen and (min-width: 768px) {
  .contacts__form-textarea {
    width: 100%;
    max-width: 400px;
  }
}

.contacts__form-text {
  width: 280px;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  color: #cdcdcd;
}
@media screen and (min-width: 768px) {
  .contacts__form-text {
    width: 400px;
    text-align: initial;
  }
}

@media screen and (min-width: 768px) {
  .contacts__form-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts__box {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .contacts__box {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .number__tablet {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 184px;
  }
  .mail__tablet {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-right: 82px;
  }
  .time__tablet {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: auto;
  }
}
.contacts__work-time {
  margin-top: 8px;
}

.contacts__work-time:nth-child(1) {
  margin: 0;
}

.contacts__number,
.contacts__mail,
.contacts__work-time {
  width: 247px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  text-transform: capitalize;
  color: #2b2b2b;
}
@media screen and (min-width: 768px) {
  .contacts__number,
.contacts__mail,
.contacts__work-time {
    width: 184px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__work-time {
    text-align: end;
  }
}

.button {
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
  background-color: #f5f5fa;
  color: #487996;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 40px;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .button {
    width: 177px;
    margin-right: 174px;
  }
}

.footer {
  background-color: #f5f5fa;
  padding: 32px 0;
  display: block;
  text-align: center;
  line-height: 1.25;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  .footer__container {
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .address {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer__logo {
  width: 192px;
  height: 48px;
  display: inline-block;
}

.head {
  display: block;
  margin-top: 19px;
  margin-bottom: 24px;
}
@media screen and (min-width: 480px) {
  .head {
    text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .contacts {
    text-align: right;
  }
}

@media screen and (min-width: 480px) {
  .soc {
    text-align: left;
  }
}

.soc__list {
  margin-bottom: 24px;
}

.soc__link:hover,
.soc__link:focus {
  color: #008cef;
}

.contacts__list {
  margin-bottom: 24px;
}

.head__link:hover,
.head__link:focus {
  color: #008cef;
}

.head__list :not(:last-child) {
  margin-bottom: 8px;
}

.soc__list :not(:last-child) {
  margin-bottom: 8px;
}

.contacts__text {
  margin-bottom: 8px;
}

.contacts__link {
  color: #487996;
}

.contacts__link:hover,
.contacts__link:focus {
  color: #008cef;
}

.contacts__tel :not(:last-child) {
  margin-bottom: 8px;
}

.header-wrap {
  position: relative;
  display: flex;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1440px) {
  .header-wrap {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

.logo-link {
  margin-right: auto;
}
@media screen and (min-width: 1440px) {
  .logo-link {
    margin-right: 253px;
  }
}

.header-nav__list {
  margin-top: 60px;
  display: block;
  text-align: center;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .header-nav__list {
    order: 1;
  }
}
@media screen and (min-width: 1440px) {
  .header-nav__list {
    display: flex;
    margin-top: 14px;
    gap: 56px;
  }
}

@media screen and (max-width: 1439px) {
  .header-nav__item {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    color: #487996;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1439px) {
  .header-nav__item:hover,
.header-nav__item:focus {
    color: transparent;
    -webkit-text-stroke: 1px #487996;
  }
}

@media screen and (max-width: 1439px) {
  .header-nav__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1439px) {
  .header-nav__link--current {
    color: transparent;
    -webkit-text-stroke: 1px #487996;
  }
}

@media screen and (min-width: 768px) {
  .header-contact__list {
    margin-left: auto;
    display: block;
  }
}

.header-contact__item:not(:last-child) {
  margin-bottom: 10px;
}

.header-contact__icon {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .header-contact__icon {
    display: none;
  }
}

.header-contact__icon:not(:last-child) {
  margin-bottom: 4px;
}

@media screen and (min-width: 1440px) {
  .dropmenu {
    position: relative;
  }
}

.dropmenu__content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .dropmenu__content {
    display: none;
    position: absolute;
    right: 30px;
    z-index: 1;
    text-align: center;
  }
}

.dropmenu__content .header-dropmenu__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: #487996;
  text-transform: none;
}
@media screen and (min-width: 1440px) {
  .dropmenu__content .header-dropmenu__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #2b2b2b;
    color: #2b2b2b;
    text-decoration: none;
    display: block;
  }
}

@media screen and (max-width: 1439px) {
  .header-dropmenu__link:hover,
.header-dropmenu__link:focus {
    color: transparent;
    -webkit-text-stroke: 1px #487996;
  }
}

.header-dropmenu__link:not(:last-child) {
  margin-bottom: 24px;
}

@media screen and (max-width: 1439px) {
  .header-dropmenu__link::before {
    content: "";
    width: 7px;
    height: 7px;
    display: inline-block;
    background: #487996;
    border-radius: 3px 0;
    margin-right: 11px;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 1440px) {
  .dropmenu:hover .dropmenu__content {
    display: block;
  }
}

.dropbtn {
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0;
}
@media screen and (max-width: 1439px) {
  .dropbtn {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1439px) {
  .dropbtn::after {
    content: "";
    background-image: url(../images/favicon/Polygon.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 10px;
    height: 4px;
    margin-left: 4px;
    margin-bottom: 1px;
  }
}

.dropbtn:hover::after {
  transform: rotate(180deg);
}

.dropmenu-lang {
  text-transform: uppercase;
  margin-left: 24px;
  position: relative;
  display: inline-block;
}
@media screen and (min-width: 767px) and (max-width: 1439px) {
  .dropmenu-lang {
    margin-top: 8px;
    margin-right: 38px;
  }
}
@media screen and (min-width: 1440px) {
  .dropmenu-lang {
    margin-top: 14px;
    margin-right: 38px;
    order: 2;
  }
}

.dropbtn-lang {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #bdbdbd;
}
@media screen and (min-width: 1440px) {
  .dropbtn-lang {
    margin-left: 130px;
  }
}

.dropmenu-lang__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #bdbdbd;
  display: none;
  position: absolute;
  z-index: 1;
  text-align: center;
}

.dropmenu-lang__content .dropmenu-lang__link {
  text-decoration: none;
  display: block;
}

.dropmenu-lang:hover .dropmenu-lang__content,
.dropmenu-lang:focus .dropmenu-lang__content {
  display: block;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    order: 1;
  }
}
@media screen and (max-width: 1439px) {
  .mobile-menu {
    margin-top: 49px;
    width: 100%;
    flex-direction: column;
    position: fixed;
    display: flex;
    top: 22px;
    left: 0;
    height: 100vh;
    background-color: #fff;
    z-index: 1;
    opacity: 1;
    pointer-events: none;
    transform-origin: top;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom: 1px solid #ececec;
  }
}
@media screen and (min-width: 1440px) {
  .mobile-menu {
    display: flex;
    align-items: center;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  pointer-events: all;
  overflow: auto;
  transform: translateX(0);
}

.menu-button {
  position: absolute;
  top: 10px;
  left: 50%;
  right: 50%;
  z-index: 1;
  background-color: transparent;
  border: none;
  fill: currentColor;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .menu-button {
    top: 11px;
  }
}
@media screen and (min-width: 1440px) {
  .menu-button {
    display: none;
  }
}

.menu-button__menu {
  top: 7px;
}
@media screen and (min-width: 768px) {
  .menu-button__menu {
    top: 11px;
  }
}

.menu-button__close {
  display: none;
}

.menu-button.is-open .menu-button__close {
  display: block;
}
.menu-button.is-open .menu-button__menu {
  display: none;
}

.modal-contact__menu {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .modal-contact__menu {
    width: 162px;
    height: 82px;
    position: fixed;
    z-index: 1;
    opacity: 0;
    right: 6px;
    pointer-events: none;
    transform-origin: top;
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1440px) {
  .modal-contact__menu {
    order: 3;
  }
}

.modal-contact__menu.is-open {
  background: rgb(200, 200, 200);
  border-radius: 5px;
  border-top: 3px solid transparent;
  -moz-border-radius: 5px;
  padding: 5px;
  width: 168px;
  text-align: center;
  margin-top: 10px;
  justify-content: center;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
  position: absolute;
  top: 50px;
  right: 6px;
  display: flex;
  opacity: 1;
  background-color: #fff;
  pointer-events: all;
  transform: translateY(0);
}

.triangle-wrap {
  position: relative;
}

.triangle-wrap::after {
  content: "";
  border: 12px solid transparent;
  border-bottom: 12px solid #fff;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  bottom: 66px;
  width: 0;
}
@media screen and (min-width: 768px) {
  .triangle-wrap::after {
    display: none;
  }
}

.contact-button {
  position: relative;
  z-index: 1;
  background-color: transparent;
  border: none;
  fill: currentColor;
  padding: 0;
}
@media screen and (min-width: 767px) {
  .contact-button {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */