@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.eot");
  src: local("☺"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype"), url("../fonts/CeraPro-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Light.eot");
  src: local("☺"), url("../fonts/CeraPro-Light.woff") format("woff"), url("../fonts/CeraPro-Light.ttf") format("truetype"), url("../fonts/CeraPro-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.eot");
  src: local("☺"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype"), url("../fonts/CeraPro-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.eot");
  src: local("☺"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype"), url("../fonts/CeraPro-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams.eot");
  src: local("☺"), url("../fonts/CaviarDreams.woff") format("woff"), url("../fonts/CaviarDreams.ttf") format("truetype"), url("../fonts/CaviarDreams.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/Caviar_Dreams_Bold.eot");
  src: local("☺"), url("../fonts/Caviar_Dreams_Bold.woff") format("woff"), url("../fonts/Caviar_Dreams_Bold.ttf") format("truetype"), url("../fonts/Caviar_Dreams_Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  font-family: "Cera Pro", sans-serif;
  color: #2b2b2b;
  padding-top: 100px;
}
@media screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

body.modal-open {
  overflow: hidden;
}

@media screen and (max-width: 1439px) {
  body.menu-open {
    overflow: hidden;
  }
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
  color: #487996;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  color: #487996;
}

.hero__title {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  font-family: "Caviar Dreams";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  color: #2b2b2b;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 336px;
    margin-bottom: 60px;
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    width: 630px;
    font-size: 48px;
  }
}

.hero__text {
  margin-top: 32px;
  font-family: "Caviar Dreams";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #2b2b2b;
}
@media screen and (min-width: 768px) {
  .hero__text {
    margin-top: 60px;
    font-size: 18px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1440px) {
  .hero__text {
    font-size: 36px;
  }
}

.hero__list {
  display: flex;
  justify-content: center;
  gap: 12px;
}
@media screen and (min-width: 350px) {
  .hero__list {
    gap: 15px;
  }
}
@media screen and (min-width: 768px) {
  .hero__list {
    gap: 29px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__list {
    gap: 32px;
  }
}

.hero__img1 {
  border-radius: 0px 35px 0px 0px;
}
@media screen and (min-width: 1440px) {
  .hero__img1 {
    border-radius: 0px 72px 0px 0px;
  }
}

.hero__img2 {
  border-radius: 100px;
}

.hero__img3 {
  border-radius: 0px 25px;
}
@media screen and (min-width: 1440px) {
  .hero__img3 {
    border-radius: 0px 72px;
  }
}

.hero__link {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  bottom: 8px;
  left: 102px;
}
@media screen and (max-width: 767px) {
  .hero__link {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .hero__link {
    width: 32px;
    height: 32px;
    top: 15px;
    left: 81px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__icon {
    width: 32px;
    height: 32px;
  }
}

.photos__container {
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 20px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .photos__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .photos__container {
    max-width: 768px;
    padding: 0 32px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .photos__container {
    max-width: 1440px;
    padding: 0 149px;
    margin-bottom: 100px;
  }
}

.photos__title {
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 16px;
  color: #487996;
}
@media screen and (min-width: 768px) {
  .photos__title {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .photos__title {
    font-size: 48px;
    line-height: 1.25;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .photos__list {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
  }
}

.photos__item:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .photos__item {
    margin: 16px;
  }
}

.loading {
  padding-top: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .loading {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .loading {
    padding-top: 19px;
  }
}

.loading__container {
  position: relative;
  width: 29px;
  height: 29px;
  margin: auto;
}

.loading_element {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 1px;
  height: 5px;
  border-radius: 1px 1px 0 0;
  -o-border-radius: 1px 1px 0 0;
  -ms-border-radius: 1px 1px 0 0;
  -webkit-border-radius: 1px 1px 0 0;
  -moz-border-radius: 1px 1px 0 0;
  transform: scale(0.4);
  -o-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  animation-name: loading-spinner;
  -o-animation-name: loading-spinner;
  -ms-animation-name: loading-spinner;
  -webkit-animation-name: loading-spinner;
  -moz-animation-name: loading-spinner;
  animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}

.element_01 {
  left: 0;
  top: 13px;
  animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  -ms-animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

.element_02 {
  left: 4px;
  top: 4px;
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.element_03 {
  left: 13px;
  top: 1px;
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}

.element_04 {
  right: 4px;
  top: 4px;
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.element_05 {
  right: 1;
  top: 13px;
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

.element_06 {
  right: 5px;
  bottom: 3px;
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
}

.element_07 {
  bottom: 0;
  left: 15px;
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.element_08 {
  left: 5px;
  bottom: 3px;
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
}

@keyframes loading-spinner {
  0% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}
@-webkit-keyframes loading-spinner {
  0% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}
.overlay:not(:target) {
  display: none;
}

.overlay:target {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(43, 43, 43, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.overlay__img-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.close {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 30px;
  text-decoration: none;
}

.arrow-wrap {
  position: absolute;
  display: flex;
  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .arrow-wrap {
    width: 26px;
    height: 26px;
  }
}

.arrow-right {
  top: 50%;
  right: -73px;
  fill: currentColor;
}

.arrow-left {
  top: 50%;
  left: -73px;
  fill: currentColor;
}

.overlay__icon {
  fill: #ffffff;
}
.arrow-scroll:hover .overlay__icon {
  fill: #487996;
}

.header-wrap {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .header-wrap {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .logo-link {
    margin-right: 253px;
  }
}

.logo {
  max-width: 101px;
  height: 25px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 125px;
    height: 31px;
  }
}
@media screen and (min-width: 1440px) {
  .logo {
    width: 192px;
    height: 48px;
  }
}

.header-nav__list {
  margin-top: 60px;
  display: block;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .header-nav__list {
    display: flex;
    margin-top: 14px;
    gap: 56px;
  }
}

@media screen and (max-width: 1439px) {
  .header-nav__item {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    color: #487996;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1439px) {
  .header-nav__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.header-nav__link--current {
  color: transparent;
  -webkit-text-stroke: 1px #487996;
}

.header-contact__list {
  display: none;
}
@media screen and (min-width: 1440px) {
  .header-contact__list {
    margin-left: auto;
    display: block;
  }
}

.header-contact__item:not(:last-child) {
  margin-bottom: 10px;
}

.header-contact__icon {
  margin-right: 8px;
}

.header-contact__icon:not(:last-child) {
  margin-bottom: 4px;
}

@media screen and (min-width: 1440px) {
  .dropmenu {
    position: relative;
  }
}

.dropmenu__content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .dropmenu__content {
    display: none;
    position: absolute;
    right: 30px;
    z-index: 1;
    text-align: center;
  }
}

.dropmenu__content .header-dropmenu__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: #487996;
  text-transform: none;
}
@media screen and (min-width: 1440px) {
  .dropmenu__content .header-dropmenu__link {
    color: #2b2b2b;
    text-decoration: none;
    display: block;
  }
}

.header-dropmenu__link:not(:last-child) {
  margin-bottom: 24px;
}

.dropmenu:hover .dropmenu__content {
  display: block;
}

.dropbtn {
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0;
}
@media screen and (max-width: 1439px) {
  .dropbtn {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1439px) {
  .dropbtn::after {
    content: "";
    background-image: url(../images/favicon/Polygon.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 10px;
    height: 4px;
    margin-left: 4px;
    margin-bottom: 1px;
  }
}

.dropbtn:hover::after {
  transform: rotate(180deg);
}

.dropmenu-lang {
  margin-top: 14px;
  position: relative;
  display: inline-block;
}

.dropbtn-lang {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #bdbdbd;
  margin-left: 130px;
}

.dropmenu-lang__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #bdbdbd;
  display: none;
  position: absolute;
  z-index: 1;
  text-align: center;
}

.dropmenu-lang__content .dropmenu-lang__link {
  width: 131px;
  text-decoration: none;
  display: block;
}

.dropmenu-lang:hover .dropmenu-lang__content {
  display: block;
}

.mobile-menu {
  margin-top: 60px;
  width: 100%;
}
@media screen and (max-width: 1439px) {
  .mobile-menu {
    flex-direction: column;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #fff;
    z-index: 1;
    opacity: 1;
    pointer-events: none;
    transform-origin: top;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom: 1px solid #ececec;
  }
}
@media screen and (min-width: 1440px) {
  .mobile-menu {
    display: flex;
    align-items: center;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  pointer-events: all;
  overflow: auto;
  transform: translateX(0);
}

.menu-button {
  z-index: 1;
  background-color: transparent;
  border: none;
  fill: currentColor;
  padding: 0;
}
@media screen and (min-width: 1440px) {
  .menu-button {
    display: none;
  }
}

.menu-button__close {
  display: none;
}

.menu-button.is-open .menu-button__close {
  display: block;
}
.menu-button.is-open .menu-button__menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .gallery__container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__container {
    padding-left: 149px;
    padding-right: 149px;
  }
}

.gallery__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: #487996;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    margin-bottom: 32px;
    font-size: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__title {
    margin-bottom: 62px;
    font-size: 48px;
  }
}

.gallery__list {
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media screen and (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__list {
    gap: 40px 32px;
  }
}

.gallery__item {
  width: 280px;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: 336px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__item {
    width: 555px;
  }
}

@media screen and (max-width: 767px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.gallery__description {
  margin-top: 8px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: #487996;
}
@media screen and (min-width: 768px) {
  .gallery__description {
    margin-top: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__description {
    margin-top: 16px;
    font-size: 18px;
    line-height: 1.28;
  }
}

.hero-take-order-inner {
  display: flex;
  gap: 30px;
}

.hero-take-order-title {
  margin-bottom: 24px;
}

.hero-take-order__picture {
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img.jpg);
  min-width: 555px;
  height: 400px;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-take-order__picture {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img@2x.jpg);
  }
}

.hero-take-order__text-item {
  margin-bottom: 24px;
}
.hero-take-order__text-item:last-child {
  margin-bottom: 60px;
}

.hero-take-order__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.27;
  color: #2b2b2b;
}

.hero-take-order__list {
  display: flex;
  gap: 32px;
}

.hero-take-order__item-one {
  width: 203px;
  height: 203px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img-1.jpg);
  border-top-right-radius: 72px;
  border-bottom-left-radius: 72px;
  border-top-left-radius: 11px;
  border-bottom-right-radius: 11px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-take-order__item-one {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img-1@2x.jpg);
  }
}

.hero-take-order__item-two {
  width: 203px;
  height: 203px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img-2.jpg);
  border-bottom-right-radius: 72px;
  border-top-left-radius: 72px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-take-order__item-two {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img-2@2x.jpg);
  }
}

.hero-take-order__item-three {
  width: 203px;
  height: 203px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img-3.jpg);
  border-bottom-right-radius: 72px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-take-order__item-three {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/order-img-3@2x.jpg);
  }
}

.take-order-contacts {
  text-align: end;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.take-order-contacts__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  color: #2b2b2b;
}

.take-order-contacts__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  color: #2b2b2b;
}

.mosaics {
  display: flex;
  justify-content: end;
  margin-top: 60px;
}

.mosaics__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 529px;
  height: 293px;
  gap: 10px;
}

.mosaics__figure1 {
  width: 150px;
  height: 145px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img.jpg);
  border-top-right-radius: 72px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mosaics__figure1 {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img@2x.jpg);
  }
}

.mosaics__figure2 {
  width: 150px;
  height: 145px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img.jpg);
  background-position: top;
  border-bottom-left-radius: 72px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mosaics__figure2 {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img@2x.jpg);
  }
}

.mosaics__figure3 {
  width: 150px;
  height: 145px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img.jpg);
  background-position: top right;
  border-top-left-radius: 72px;
  border-bottom-right-radius: 72px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mosaics__figure3 {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img@2x.jpg);
  }
}

.mosaics__figure4 {
  width: 150px;
  height: 145px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img.jpg);
  background-position: bottom left;
  border-bottom-left-radius: 72px;
  border-top-right-radius: 72px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mosaics__figure4 {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img@2x.jpg);
  }
}

.mosaics__figure5 {
  width: 150px;
  height: 145px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img.jpg);
  background-position: bottom;
  border-radius: 72px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mosaics__figure5 {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img@2x.jpg);
  }
}

.mosaics__figure6 {
  width: 150px;
  height: 145px;
  background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img.jpg);
  background-position: bottom right;
  border-bottom-right-radius: 72px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mosaics__figure6 {
    background-image: url(/src/images/bitmap/order/desktop/mozjpeg/decor-img@2x.jpg);
  }
}

.contacts__title {
  color: #487996;
  width: 280px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25em;
}

.contacts__list {
  padding-bottom: 40px;
}

.contacts__item {
  margin-top: 16px;
}

.contacts__text {
  width: 280px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  color: #2b2b2b;
}

.contacts__form-title {
  width: 280px;
  height: 23px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28em;
  color: #487996;
}

.contacts__form-lable {
  width: 280px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  color: #2b2b2b;
}

.contacts__form-input {
  border: none;
  border-bottom: 1px solid #487996;
  width: 280px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  color: #2b2b2b;
}

.contacts__form-textarea {
  width: 100%;
  max-width: 280px;
  height: 199px;
  border: 1px solid #487996;
  border-radius: 50px 0px;
  padding: 22px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  color: #cdcdcd;
}

.contacts__form-text {
  width: 280px;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  color: #cdcdcd;
}

.contacts__box {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts__number,
.contacts__mail,
.contacts__work-time {
  width: 247px;
  height: 20px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  text-transform: capitalize;
  color: #2b2b2b;
}

.contacts__work-time {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer {
  background-color: #f5f5fa;
  padding: 32px 0;
  display: block;
  text-align: center;
  line-height: 1.25;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  .footer__container {
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .address {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer__logo {
  width: 192px;
  height: 48px;
  display: inline-block;
}

.head {
  display: block;
  margin-top: 19px;
  margin-bottom: 24px;
}
@media screen and (min-width: 480px) {
  .head {
    text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .cont {
    text-align: right;
  }
}

@media screen and (min-width: 480px) {
  .soc {
    text-align: left;
  }
}

.soc__list {
  margin-bottom: 24px;
}

.soc__link:hover,
.soc__link:focus {
  color: #008cef;
}

.cont__list {
  margin-bottom: 24px;
}

.head__link:hover,
.head__link:focus {
  color: #008cef;
}

.head__list :not(:last-child) {
  margin-bottom: 8px;
}

.soc__list :not(:last-child) {
  margin-bottom: 8px;
}

.cont__text {
  margin-bottom: 8px;
}

.cont__link {
  color: #487996;
}

.cont__link:hover,
.cont__link:focus {
  color: #008cef;
}

.cont__tel :not(:last-child) {
  margin-bottom: 8px;
}/*# sourceMappingURL=index.css.map */