<section>
    <div class="container processes">
        <h2 class="process-title visualy-hidden">Наші процеси</h2>
        <ul class="our-processes">
            <li class="process-item">
            <picture>
                <source srcset="
                                ./images/bitmap/print/desktop/bgi-printing-service.png 1x, 
                                ./images/bitmap/print/desktop/bgi-printing-service@2x.png 2x">
                <source srcset="
                                ./images/bitmap/print/tablet/bgi-printing-service.png 1x, 
                                ./images/bitmap/print/tablet/bgi-printing-service@2x.png 2x">
                <source srcset="
                                ./images/bitmap/print/mobile/bgi-printing-service.png 1x, 
                                ./images/bitmap/print/mobile/bgi-printing-service@2x.png 2x">
                <img src="./images/bitmap/print/mobile/bgi-printing-service.png" alt="фото процесу 3д друку">
            </picture>
            <div class="process-card">
                <p class="process-description">3D-ДРУК- ми використовуємо FDM технологію друку. Вона представляє собою пошарове формування об'єкта за допомогою 3Dпринтера.</p>
                <p class="process-description">Моделі для створення розроблюються дизайнерами в спеціальному програмному забезпеченні: системах автоматизованого проектування.</p>
                <p class="process-description">3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу, мистецтві і багатьох інших сфер.</p>
                <a href="" class="btn">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
            </div>
        </li>
        <li class="process-item">
            <picture>
                <source srcset="
                                ./images/bitmap/print/desktop/bgi-modeling-services.png 1x, 
                                ./images/bitmap/print/desktop/bgi-modeling-services@2x.png 2x">
                <source srcset="
                                ./images/bitmap/print/tablet/bgi-modeling-services.png 1x, 
                                ./images/bitmap/print/tablet/bgi-modeling-services@2x.png 2x">
                <source srcset="
                                ./images/bitmap/print/mobile/bgi-modeling-services.png 1x, 
                                ./images/bitmap/print/mobile/bgi-modeling-services@2x.png 2x">
                <img src="./images/bitmap/print/mobile/bgi-modeling-services.png" alt="фото процесу моделювання">
            </picture>
            <div class="process-card">
                <p class="process-description">3D-МОДЕЛЮВАННЯ - це процес розробки математичного уявлення будь-якої поверхні об'єкта в трьох вимірах за допомогою спеціалізованого програмного забезпечення.</p>
                <p class="process-description">Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.</p>
                <p class="process-description">Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю задовольнить ваші потреби.</p>
                <a href="" class="btn">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
            </div>
        </li>
        <li class="process-item">
            <picture>
                <source srcset="
                                ./images/bitmap/print/desktop/bgi-scanning-services.png 1x, 
                                ./images/bitmap/print/desktop/bgi-scanning-services@2x.png 2x">
                <source srcset="
                                ./images/bitmap/print/tablet/bgi-scanning-services.png 1x, 
                                ./images/bitmap/print/tablet/bgi-scanning-services@2x.png 2x">
                <source srcset="
                                ./images/bitmap/print/mobile/bgi-scanning-services.png 1x, 
                                ./images/bitmap/print/mobile/bgi-scanning-services@2x.png 2x">
                <img src="./images/bitmap/print/mobile/bgi-scanning-services.png" alt="фото процесу сканування">
            </picture>
            <div class="process-card">
                <p class="process-description">3D-СКАНУВАННЯ - зняття даних, шляхом аналізу форми предмета і на основі отриманих даних створення її 3D-моделі.</p>
                <p class="process-description">Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для візуалізації в цифровому вигляді, так і 3D-модель для подальшого її друку на 3D-принтері.</p>
                <a href="" class="btn">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
            </div>
        </li>
    </ul>
    </div>
</section>