<!-- MOBILE BACKGROUND -->
<div class="printing-bg-mob container">
    <div class="printing-bg-mob__element mob-el-1"></div>
    <div class="printing-bg-mob__element mob-el-2"></div>
    <div class="printing-bg-mob__element mob-el-3"></div>
    <div class="printing-bg-mob__element mob-el-4"></div>
    <div class="printing-bg-mob__element mob-el-5"></div>
    <div class="printing-bg-mob__element mob-el-6"></div>
    <div class="printing-bg-mob__element mob-el-7"></div>
    <div class="printing-bg-mob__element mob-el-8"></div>
</div>

<!-- TABLET BACKGROUND -->
<div class="tab-printing__bg container">
    <div class="tab-printing__bg-el-1"></div>
    <div class="tab-printing__bg-el-2"></div>
    <div class="tab-printing__bg-el-3"></div>
    <div class="tab-printing__bg-el-4"></div>
    <div class="tab-printing__bg-el-5"></div>
    <div class="tab-printing__bg-el-6"></div>
    <div class="tab-printing__bg-el-7"></div>
</div>

<!-- DESKTOP BACKGROUND -->
<div class="printing-bg container">
    <div class="printing-bg__el-1"></div>
    <div class="printing-bg__el-2"></div>
    <div class="printing-bg__el-3"></div>
    <div class="printing-bg__el-4"></div>
    <div class="printing-bg__el-5"></div>
    <div class="printing-bg__el-6"></div>
    <div class="printing-bg__el-7"></div>
    <div class="printing-bg__el-8"></div>
    <div class="printing-bg__el-9"></div>
    <div class="printing-bg__el-10"></div>
</div>