<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div class="container">
        <section class="take-order-contacts">
          <ul class="take-order-contacts__list">
            <li class="take-order-contacts__item">
              <h3 class="subtitle">ТЕЛЕФОНИ</h3>
            </li>
            <li class="take-order-contacts__item">
              <a href="tel:+380957384551">+38 (095) -73-84-551</a>
            </li>
            <li class="take-order-contacts__item">
              <a href="tel:+380980025235">+38 (098) -00-25-235</a>
            </li>
          </ul>
          <ul class="take-order-contacts__list">
            <li class="take-order-contacts__item">
              <h3 class="subtitle">Email</h3>
            </li>
            <li class="take-order-contacts__item">
              <a href="mailto:3dfreedom.info@gmail.com"
                >3dfreedom.info@gmail.com</a
              >
            </li>
          </ul>
          <ul class="take-order-contacts__list">
            <li class="take-order-contacts__item">
              <h3 class="subtitle">Робочий час</h3>
            </li>
            <li class="take-order-contacts__item">Пн-пт: з 8:00 до 19:00</li>
            <li class="take-order-contacts__item">Сб, Нд: з 10:00 до 17:00</li>
          </ul>
          <div class="mosaics">
            <ul class="mosaics__list">
              <li class="mosaics__figure1"></li>
              <li class="mosaics__figure2"></li>
              <li class="mosaics__figure3"></li>
              <li class="mosaics__figure4"></li>
              <li class="mosaics__figure5"></li>
              <li class="mosaics__figure6"></li>
            </ul>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
