<section class="hero">
  <h1 class="hero__title">3D МОДЕЛЮВАННЯ</h1>
  <ul class="hero__list list">
    <li class="hero__item">
      Сфера 3D графіки може надати широкий спектр послуг. Але якщо спроектована
      модель буде створюватися шляхом 3D друку, обробки заготовки на ЧПУ станках
      або іншими виробничими методами, то до моделі преставляеться ряд
      інженерних вимог які повинен враховувати дизайнер при розробці моделі.
    </li>
    <li class="hero__item">
      Наші фахівці допоможуть вам визначитися з технічною стороною вироба і
      підготують модель для її створення. Ми маємо широкий спектр інструментів
      для вдоволення будь-якої вашої задачі.
    </li>
  </ul>
</section>

<section class="methods">
  <h2 class="methods__title">Способи створення моделі:</h2>
  <ul class="methods__list">
    <li class="methods__item">3D сканування</li>
    <li class="methods__item">На основі фотографій з доданими розмірами</li>
    <li class="methods__item">За ескізами з розмірами</li>
    <li class="methods__item">За вашим кресленням</li>
    <li class="methods__item">
      По вже існуючому прототипу шляхом зняття розмірів
    </li>
  </ul>
</section>
