<!-- MOBILE BACKGROUND -->
<div class="modeling-bg-mob container">
    <div class="modeling-bg-mob__element mob-el-1"></div>
    <div class="modeling-bg-mob__element mob-el-2"></div>
    <div class="modeling-bg-mob__element mob-el-3"></div>
    <div class="modeling-bg-mob__element mob-el-4"></div>
    <div class="modeling-bg-mob__element mob-el-5"></div>
    <div class="modeling-bg-mob__element mob-el-6"></div>
    <div class="modeling-bg-mob__element mob-el-7"></div>
    <div class="modeling-bg-mob__element mob-el-8"></div>
</div>

<!-- TABLET BACKGROUND -->
<div class="tab-modeling__bg container">
    <div class="tab-modeling__bg-el-1"></div>
    <div class="tab-modeling__bg-el-2"></div>
    <div class="tab-modeling__bg-el-3"></div>
    <div class="tab-modeling__bg-el-4"></div>
    <div class="tab-modeling__bg-el-5"></div>
    <div class="tab-modeling__bg-el-6"></div>
</div>

<!-- DESKTOP BACKGROUND -->
<div class="modeling-bg container">
    <div class="modeling-bg__el-1"></div>
    <div class="modeling-bg__el-2"></div>
    <div class="modeling-bg__el-3"></div>
    <div class="modeling-bg__el-4"></div>
    <div class="modeling-bg__el-5"></div>
    <div class="modeling-bg__el-6"></div>
</div>