<section class="work-examples">
  <h2 class="work-examples__title">
    МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ ЗОБРАЖЕННЯ МОДЕЛЕЙ
  </h2>
  <ul class="work-examples__list">
    <li class="work-examples__list">
      <picture class="work-examples__image">
        <!-- Mobile 1 -->
        <source
          srcset="
            ./images/bitmap/3d-modeling/mobile/webp/3d-model-1.webp,
            ./images/bitmap/3d-modeling/mobile/webp/3d-model-1@2x.webp 2x
          "
          type="image/webp"
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-1.jpg,
            ./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-1@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 767px)"
        />
        <!-- End Mobile 1 -->

        <!-- Tablet 1 -->
        <source
          srcset="
            ./images/bitmap/3d-modeling/tablet/webp/3d-model-1.webp,
            ./images/bitmap/3d-modeling/tablet/webp/3d-model-1@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/bitmap/3d-modeling/tablet/mozjpeg/3d-model-1.jpg,
            ./images/bitmap/3d-modeling/tablet/mozjpeg/3d-model-1@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 768px)"
        />
        <!-- End Tablet 1 -->

        <!-- Desktop 1 -->
        <source
          srcset="
            ./images/bitmap/3d-modeling/desktop/webp/3d-model-1.webp,
            ./images/bitmap/3d-modeling/desktop/webp/3d-model-1@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/bitmap/3d-modeling/desktop/mozjpeg/3d-model-1.jpg,
            ./images/bitmap/3d-modeling/desktop/mozjpeg/3d-model-1@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 1200px)"
        />
        <!-- End Desktop 1 -->

        <img
          src="./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-1.jpg"
          alt=""
        />
      </picture>
    </li>

    <li class="work-examples__list">
      <picture class="work-examples__image">
        <!-- Mobile 2 -->
        <source
          srcset="
            ./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-2.jpg,
            ./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-2@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/bitmap/3d-modeling/mobile/webp/3d-model-2.webp,
            ./images/bitmap/3d-modeling/mobile/webp/3d-model-2@2x.webp 2x
          "
          type="image/webp"
          media="(max-width: 767px)"
        />
        <!-- End Mobile 2 -->

        <!-- Tablet 2 -->
        <source
          srcset="
            ./images/bitmap/3d-modeling/tablet/webp/3d-model-2.webp,
            ./images/bitmap/3d-modeling/tablet/webp/3d-model-2@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/bitmap/3d-modeling/tablet/mozjpeg/3d-model-2.jpg,
            ./images/bitmap/3d-modeling/tablet/mozjpeg/3d-model-2@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 768px)"
        />
        <!-- End Tablet 2 -->

        <!-- Desktop 2 -->
        <source
          srcset="
            ./images/bitmap/3d-modeling/desktop/webp/3d-model-2.webp,
            ./images/bitmap/3d-modeling/desktop/webp/3d-model-2@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/bitmap/3d-modeling/desktop/mozjpeg/3d-model-2.jpg,
            ./images/bitmap/3d-modeling/desktop/mozjpeg/3d-model-2@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 1200px)"
        />
        <!-- End Desktop 2 -->

        <img
          src="./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-2.jpg"
          alt=""
        />
      </picture>
    </li>

    <li class="work-examples__list">
      <picture class="work-examples__image">
        <!-- Mobile 3 -->
        <source
          srcset="
            ./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-3.jpg,
            ./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-3@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/bitmap/3d-modeling/mobile/webp/3d-model-3.webp,
            ./images/bitmap/3d-modeling/mobile/webp/3d-model-3@2x.webp 2x
          "
          type="image/webp"
          media="(max-width: 767px)"
        />
        <!-- End Mobile 3 -->

        <!-- Tablet 3 -->
        <source
          srcset="
            ./images/bitmap/3d-modeling/tablet/webp/3d-model-3.webp,
            ./images/bitmap/3d-modeling/tablet/webp/3d-model-3@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/bitmap/3d-modeling/tablet/mozjpeg/3d-model-3.jpg,
            ./images/bitmap/3d-modeling/tablet/mozjpeg/3d-model-3@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 768px)"
        />
        <!-- End Tablet 3 -->

        <!-- Desktop 3 -->
        <source
          srcset="
            ./images/bitmap/3d-modeling/desktop/webp/3d-model-3.webp,
            ./images/bitmap/3d-modeling/desktop/webp/3d-model-3@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/bitmap/3d-modeling/desktop/mozjpeg/3d-model-3.jpg,
            ./images/bitmap/3d-modeling/desktop/mozjpeg/3d-model-3@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 1200px)"
        />
        <!-- End Desktop 3 -->

        <img
          src="./images/bitmap/3d-modeling/mobile/mozjpeg/3d-model-3.jpg"
          alt=""
        />
      </picture>
    </li>

    <li class="work-examples__list"></li>
  </ul>
  <button class="order-form__button" type="button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
</section>
