<!-- <section class="methods">
    <h2 class="methods__title">Способи створення моделі:</h2>
    <ul class="methods__list">
      <li class="methods__item">3D сканування</li>
      <li class="methods__item">На основі фотографій з доданими розмірами</li>
      <li class="methods__item">За ескізами з розмірами</li>
      <li class="methods__item">За вашим кресленням</li>
      <li class="methods__item">
        По вже існуючому прототипу шляхом зняття розмірів
      </li>
    </ul>
  </section> -->