<header class="header">
  <div class="header-wrap container">
    <a class="logo-link" href="./index.html">
      <picture>
        <source
          srcset="
            ./images/bitmap/logo/browser-png/logo_192x48.png     1x,
            ./images/bitmap/logo/browser-png/logo_192x48.@2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/bitmap/logo/browser-png/logo_125x31.png    1x,
            ./images/bitmap/logo/browser-png/logo_125x31@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/bitmap/logo/browser-png/logo_101x25.png    1x,
            ./images/bitmap/logo/browser-png/logo_101x25@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/bitmap/logo/browser-png/logo_101x25.png"
          alt="Логотип"
        />
      </picture>
    </a>

    <button
      type="button"
      class="menu-button"
      data-menu-button
      aria-expanded="false"
    >
      <svg class="menu-button" width="24" height="24">
        <use
          class="menu-button__close"
          href="./images/sprite.svg#icon-cross"
        ></use>
      </svg>
      <svg class="menu-button menu-button__menu" width="32" height="32">
        <use
          class="menu-button__menu"
          href="./images/sprite.svg#icon-mobile-burger"
        ></use>
      </svg>
    </button>
    <button type="button" class="contact-button" aria-expanded="false">
      <svg class="" width="24" height="24">
        <use
          class="menu-button__telephone"
          href="./images/sprite.svg#icon-phone"
        ></use>
      </svg>
    </button>

    <div class="dropmenu-lang">
      <p class="dropbtn-lang">Укр</p>
      <div class="dropmenu-lang__content">
        <a class="dropmenu-lang__link" href="">Рус</a>

        <a class="dropmenu-lang__link" href="">Eng</a>
      </div>
    </div>
    <div class="mobile-menu header__menu" data-menu>
      <div class="mobile-menu__bg container">
        <div class="mobile-menu__bg-el1"></div>
        <div class="mobile-menu__bg-el2"></div>
        <div class="mobile-menu__bg-el3"></div>
      </div>

      <div class="tab-menu__bg container">
        <div class="tab-menu__bg-el-1"></div>
        <div class="tab-menu__bg-el-2"></div>
        <div class="tab-menu__bg-el-3"></div>
        <div class="tab-menu__bg-el-4"></div>
        <div class="tab-menu__bg-el-5"></div>
        <div class="tab-menu__bg-el-6"></div>
        <div class="tab-menu__bg-el-7">
          <picture class="main-bg-wrap__photo">
            <source
              srcset="
                ./images/bitmap/main/tablet/backgraund-imgs/gallery-bgi-1.jpg    1x,
                ./images/bitmap/main/tablet/backgraund-imgs/gallery-bgi-1@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-1.jpg"
              alt="Фонове зображення"
              width="144"
            />
          </picture>
        </div>
        <div class="tab-menu__bg-el-8">
          <picture class="main-bg-wrap__photo">
            <source
              srcset="
                ./images/bitmap/main/tablet/backgraund-imgs/gallery-bgi-2.jpg    1x,
                ./images/bitmap/main/tablet/backgraund-imgs/gallery-bgi-2@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-2.jpg"
              alt="Фонове зображення"
              width="144"
            />
          </picture>
        </div>
        <div class="tab-menu__bg-el-9"></div>
        <div class="tab-menu__bg-el-10"></div>
        <div class="tab-menu__bg-el-11"></div>
        <div class="tab-menu__bg-el-12">
          <picture class="main-bg-wrap__photo">
            <source
              srcset="
                ./images/bitmap/main/tablet/backgraund-imgs/gallery-bgi-3.jpg    1x,
                ./images/bitmap/main/tablet/backgraund-imgs/gallery-bgi-3@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-3.jpg"
              alt="Фонове зображення"
              width="144"
            />
          </picture>
        </div>
        <div class="tab-menu__bg-el-13"></div>
        <div class="tab-menu__bg-el-14"></div>
        <div class="tab-menu__bg-el-15"></div>
        <div class="tab-menu__bg-el-16"></div>
        <div class="tab-menu__bg-el-17"></div>
        <div class="tab-menu__bg-el-18">
          <picture class="main-bg-wrap__photo">
            <source
              srcset="
                ./images/bitmap/main/tablet/backgraund-imgs/gallery-bgi-4.jpg    1x,
                ./images/bitmap/main/tablet/backgraund-imgs/gallery-bgi-4@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-4.jpg"
              alt="Фонове зображення"
              width="144"
            />
          </picture>
        </div>
        <div class="tab-menu__bg-el-19"></div>
        <div class="tab-menu__bg-el-20"></div>
        <div class="tab-menu__bg-el-21"></div>
        <div class="tab-menu__bg-el-22"></div>
        <div class="tab-menu__bg-el-23"></div>
      </div>

      <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item">
            <a
              class="header-nav__link header-nav__link--current"
              href="./index.html"
              >Головна</a
            >
          </li>
          <li class="header-nav__item">
            <div class="dropmenu">
              <p class="dropbtn">Послуги</p>
              <div class="dropmenu__content">
                <a class="header-dropmenu__link" href="./modeling.html"
                  >3D Моделювання</a
                >
                <a class="header-dropmenu__link" href="./scanning.html"
                  >3D Сканування</a
                >
                <a class="header-dropmenu__link" href="./printing.html"
                  >3D Друк</a
                >
              </div>
            </div>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="./take-order.html">Замовити</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="./contact.html">Контакти</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="modal-contact__menu">
      <div class="triangle-wrap">
        <ul class="header-contact__list">
          <li class="header-contact__item">
            <a class="header-contact__link" href="tel:+380936432288">
              <svg class="header-contact__icon" width="14" height="14">
                <use href="./images/sprite.svg#icon-phone"></use>
              </svg>
              +38 (093) 643 22 88</a
            >
          </li>
          <li class="header-contact__item">
            <a class="header-contact__link" href="tel:+380503454423">
              <svg class="header-contact__icon" width="14" height="14">
                <use href="./images/sprite.svg#icon-phone"></use>
              </svg>
              +38 (050) 345 44 23</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
