<header>
  <div class="header-wrap container">
    <a class="logo-link" href="./index.html">
      <picture class="logo">
        <source
          srcset="
            ./images/bitmap/logo/oxi-png/logo_192x48.png     1x,
            ./images/bitmap/logo/oxi-png/logo_192x48.@2x.png 2x
          "
        />
        <img src="./images/bitmap/logo/oxi-png/logo_192x48.png" width="195px" />
      </picture>
    </a>
    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a class="header-nav_link" href="./index.html">Головна</a>
        </li>
        <li class="header-nav__item">
          Послуги
          <ul class="header-dropmenu_list">
            <li class="header-dropmenu_item">
              <a class="header-dropmenu_link" href="./modeling.html"
                >3D Моделювання</a
              >
            </li>
            <li class="header-dropmenu_item">
              <a class="header-dropmenu_link" href="./scanning.html"
                >3D Сканування</a
              >
            </li>
            <li class="header-dropmenu_item">
              <a class="header-dropmenu_link" href="./printing.html">3D Друк</a>
            </li>
          </ul>
        </li>
        <li class="header-nav__item">
          <a class="header-nav_link" href="./take-order.html">Замовити</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav_link" href="./contact.html">Контакти</a>
        </li>
      </ul>
    </nav>
    <ul class="lang_list">
      <li class="lang_list">ua</li>
      <li class="lang_list">eng</li>
      <li class="lang_list">ru</li>
    </ul>
    <ul class="header-contact_list">
      <li class="header-contact_item">
        <a class="header-contact_link" href="tel:+380936432288"
          >+38 (093) 643 22 88</a
        >
      </li>
      <li class="header-contact_link">
        <a href="tel:+380503454423">+38 (050) 345 44 23</a>
      </li>
    </ul>
  </div>
</header>
