.footer {
  background-color: #f5f5fa;
  padding: 32px 0;
  display: block;
  text-align: center;
  line-height: 1.25;
}
.footer__container {
  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
  }
}
.address {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 768px;
    margin-right: 79px;
  }
}
.footer__logo {
  display: inline-block;
}
.head {
  display: block;
  margin-top: 19px;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.cont {
  @media screen and (min-width: 768px) {
    text-align: right;
  }
}
.soc {
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.soc__list {
  margin-bottom: 24px;
}
.soc__link:hover,
.soc__link:focus {
  color: #487996;
}
.cont__list {
  margin-bottom: 24px;
}
.head__link:hover,
.head__link:focus {
  color: #487996;
}
.head__list :not(:last-child) {
  margin-bottom: 8px;
}
.soc__list :not(:last-child) {
  margin-bottom: 8px;
}
.cont__text {
  margin-bottom: 8px;
}
.cont__link {
  color: #487996;
}
.cont__link:hover,
.cont__link:focus {
  color: #008cef;
}
.cont__tel :not(:last-child) {
  margin-bottom: 8px;
}
