.gallery {
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

}


.gallery__container {
  padding: 0 20px;  
    @media screen and (min-width: 768px) {
      padding: 0 32px;
      padding: 0 32px;
    }
    @media screen and (min-width: 1440px) {
      padding: 0 149px;
      padding: 0 149px;
    }
}

.gallery__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    color: $accentTextColor;
    text-transform: uppercase;
  
    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
      font-size: 36px;
    }
    @media screen and (min-width: 1440px) {
      margin-bottom: 62px;
      font-size: 48px;
    }
  }
  
  .gallery__list {

    column-gap: 24px;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
    }
    @media screen and (min-width: 1440px) {
      gap: 40px 32px;
    }
  }

  .gallery__item {
    width: 280px;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      width: 336px;
    }
    @media screen and (min-width: 1440px) {
      width: 555px;
    }
  }

  .gallery__item {
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }


  .gallery__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 24px;
  }
  }
  
  .gallery__description {
    margin-top: 8px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
    color: $accentTextColor;
    @media screen and (min-width: 768px) {
      margin-top: 16px;
    }
    @media screen and (min-width: 1440px) {
      margin-top: 16px;
      font-size: 18px;
      line-height: 1.28;
    }
  }
  