.header-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.header-nav__list {
  display: flex;
  padding-top: 14px;
}
.header-nav__item:not(:last-child) {
  margin-right: 56px;
}
.header-contact__list {
  margin-left: auto;
}
.dropbtn::after {
  content: '';
  color: #000;
}
