.main-bg-wrap {
    height: 3277px;
    overflow: hidden;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;

    &__element {
        width: 144px;
        height: 144px;
    }
}


.el-1 {
    position: absolute;
    top: 1px;
    left: 291px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0 72px 72px 0;
}

.el-2 {
    position: absolute;
    height: 114px;
    top: 42px;
    left: 569px;
    background: #FFFFFF;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 72px 72px;
}

.el-3 {
    position: absolute;
    top: 1px;
    right: 267px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0 0 72px;
}

.el-4 {
    position: absolute;
    background-color: #fff;
    top: 1px;
    left: 30px;
    border-radius: 72px 0 0 0;
    z-index: -1;
}

.el-5 {
    position: absolute;
    top: 145px;
    left: 30px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 72px 0;
}

.el-6 {
    position: absolute;
    top: 140px;
    left: 174px;
    border-radius: 72px;
    overflow: hidden;
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
}

.el-7 {
    position: absolute;
    top: 145px;
    right: 176px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
}

.el-8 {
    position: absolute;
    top: 145px;
    right: 32px;
    border-radius: 0 0 72px 0;
    overflow: hidden;
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
}

.el-9 {
    position: absolute;
    top: 290px;
    right: 176px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px;
}

.el-10 {
    position: absolute;
    top: 290px;
    left: 174px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0 72px 0 0;
}

.el-11 {
    position: absolute;
    top: 434px;
    left: 30px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0 72px;
}

.el-12 {
    position: absolute;
    top: 578px;
    left: 174px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 72px 0;
}

.el-13 {
    position: absolute;
    top: 699px;
    left: 30px;
    border-radius: 72px;
    overflow: hidden;
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
}

.el-14 {
    width: 110px;
    position: absolute;
    top: 844px;
    left: 30px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 72px 0;
}

.el-15 {
    width: 141px;
    height: 161px;
    position: absolute;
    top: 1244px;
    left: 30px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0px;
}

.el-16 {
    position: absolute;
    top: 1940px;
    left: 174px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0 72px 0 0;
}

.el-17 {
    width: 141px;
    height: 145px;
    position: absolute;
    top: 2058px;
    left: 30px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 72px;
}

.el-18 {
    position: absolute;
    top: 2598px;
    left: -58px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px;
}

.el-19 {
    position: absolute;
    top: 434px;
    right: 32px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0px;
}

.el-20 {
    position: absolute;
    top: 578px;
    right: 176px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 72px;
}

.el-21 {
    position: absolute;
    top: 578px;
    right: 32px;
    border-radius: 72px 72px 0 0;
    overflow: hidden;
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
}

.el-22 {
    height: 124px;
    position: absolute;
    top: 722px;
    right: 32px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 72px;
}

.el-23 {
    width: 142px;
    position: absolute;
    top: 1021px;
    right: 32px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0px 0px 0;
}

.el-24 {
    position: absolute;
    top: 1165px;
    right: -64px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px;
}

.el-25 {
    position: absolute;
    top: 1512px;
    right: 32px;
    border-radius: 72px;
    overflow: hidden;
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
}

.el-26 {
    height: 142px;
    position: absolute;
    top: 2058px;
    right: 32px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 72px;
}

.el-27 {
    width: 143px;
    height: 145px;
    position: absolute;
    top: 2736px;
    right: 32px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0;
}

.el-28 {
    height: 116px;
    position: absolute;
    top: 2881px;
    right: 175px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0 72px;
}