.container {
    padding-top: 44px;
    padding-bottom: 40px;
    @media screen and (min-width:768px) {
        padding-top: 30px;
        padding-left: 32px;
    }
    @media screen and (min-width:1440px) {
        padding-bottom: 100px;
        padding-left: 149px;
    }
}

.modeling-hero__title {
font-weight: 700;
font-size: 24px;
line-height: 1.24;
color: #487996;
margin-bottom: 16px;

@media screen and (min-width:768px) {
    font-size: 36px;
}
@media screen and (min-width:1440px) {
    font-size: 48px;
    margin-bottom: 24px;
}
}

.modeling-hero__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    @media screen and (min-width:1440px) {
        display: flex;
        gap: 72px;
    }
    
}

.modeling-hero__item {
font-weight: 300;
font-size: 16px;
line-height: 1.25;
color: #2B2B2B;

@media screen and (min-width:768px) {
    width: 515px;
}
@media screen and (min-width:1440px) {
    font-size: 18px;
}

}