.printing {
  margin-bottom: 37.82px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 100px;
  }
}

.printing__title {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25em;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 16px;

  color: $accentTextColor;

  @media screen and (min-width: 768px) {
    font-size: 36px;

    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1440px) {
    font-size: 48px;

    margin-left: 149px;
    margin-right: 667px;
  }

  .our-service {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .our-processes {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;

    @include tablet {
      gap: 60px;
    }

    @include desktop {
      gap: 100px;
      width: 1054px;
    }
  }

  .process-item {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include tablet {
      flex-direction: row;
      gap: 32px;
    }

    @include desktop {
      gap: 86px;
    }
  }

  .process-description {
    color: $mainTextColor;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;

    @include tablet {
      font-weight: 400;
    }

    @include desktop {
      font-weight: 300;
      font-size: 18px;
      line-height: 1.43;
    }
  }

  .process-description span {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: $accentTextColor;
  }

  .process-description:not(:last-child) {
    margin-bottom: 16px;

    @include desktop {
      margin-bottom: 24px;
    }
  }

  .order-link {
    padding: 16px 32px;
    box-shadow: $btnBoxShadow;
    border-radius: 30.5px;
    background-color: $btnBckgColor;
    color: $accentTextColor;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include tablet {
      width: 280px;
      height: 50px;
    }
  }
}
