
.container .processes{
    @include desktop{
        margin-left: 117px;
        margin-right: 204px;
    }
}
.our-processes
{
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include tablet{gap:60px};
    @include desktop{gap: 100px}
}
.process-item{
border:1 solid red;
width: 100%;

@include tablet{
    display: flex; 
    gap: 32px;
    align-items: flex-start;

} 
}
.process-item:not(:last-chaild){margin-bottom: 50px;}
.process-description:not(:last-child)
{
    margin-bottom: 16px;
    @include tablet {margin-bottom: 24px;};
}




.order-link{
display:inline-block;
align-content: flex-start;
width:277px;
max-height: 56px;
@include btn}