.scanhero_box {
  @media screen and (min-width: 1200px) {
      display: flex;
   }
}
.scanhero_info {
  @media screen and (min-width: 1200px) {
     padding-left: 100px;
  } 
}
.scanhero_list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
     padding-right: 222px;
   }
}
.scanhero_title {
  @include font (700, 24px, 1.25, #487996);
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    padding-bottom: 16px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 36px;
    line-height: 1.25;
   }
  @media screen and (min-width: 1200px) {
    font-size: 48px;
    line-height: 1.25;
    padding-bottom: 15px;
   }
}
.scanhero_item {
  @include font (300, 16px, 1.25, #2B2B2B);
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    padding-bottom: 16px;
}
  @media screen and (min-width: 768px) and (max-width: 1199px) {
  padding-right: 20px;
} 
  @media screen and (min-width: 1200px) {
      font-size: 18px;
      line-height: 1.28;
      padding-bottom: 24px;
  } 
}
.scanhero_wrap {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
     position: relative;
  }
  @media screen and (min-width: 1200px) {
      padding-left: 72px;
      padding-top: 75px;
      padding-right: 120px;
   }
}
.scanhero_text {
  @include font (300, 16px, 1.25, #2B2B2B);
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-bottom: 20px;
  } 
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-right: 250px;
  } 
  @media screen and (min-width: 1200px) {
      font-size: 18px;
      line-height: 1.28;
  }
}
.scanhero_photo {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
      position: absolute;
      right: 0;
      bottom: 40;
      width: 241px;
      height: 172px;
  }
  @media screen and (min-width: 1200px) {
      width: 435px;
      height: 286px;
   }
}





.scann {
  padding: 40px 0;
}

.scann__title {
  margin-bottom: 16px;
}

.scann__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 20px;
}

.scann__item {
  width: calc(100% / 2 - 20px);
  height: 182px;
  padding: 18px 20px;
  text-align: center;

  background: #ffffff;
  opacity: 0.8;
  box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8),
    inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
}

.scann__item::before {
  content: '';

  background-image: url(../images/bitmap/3d-scanning/mobile/scan-process-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.scann__text {
  text-align: center;
}

.button {
  @include btn;
}
