<!-- MOBILE BACKGROUND -->
<div class="main-bg-mob container">
    <div class="main-bg-mob__element mob-el-1"></div>
    <div class="main-bg-mob__element mob-el-2"></div>
    <div class="main-bg-mob__element mob-el-3"></div>
    <div class="main-bg-mob__element mob-el-4"></div>
    <div class="main-bg-mob__element mob-el-5"></div>
    <div class="main-bg-mob__element mob-el-6"></div>
    <div class="main-bg-mob__element mob-el-7"></div>
    <div class="main-bg-mob__element mob-el-8"></div>
</div>

<!-- TABLET BACKGROUND -->
<div class="tablet__bg container">
    <div class="tablet__bg-el-1"></div>
    <div class="tablet__bg-el-2"></div>
    <div class="tablet__bg-el-3"></div>
    <div class="tablet__bg-el-4"></div>
    <div class="tablet__bg-el-5"></div>
    <div class="tablet__bg-el-6"></div>
    <div class="tablet__bg-el-7">
        <picture class="main-bg-wrap__photo">
            <source srcset="
                            ./images/bitmap/main/tablet/backgraund-imgs/gallery-bgi-1.jpg 1x,
                            ./images/bitmap/main/tablet/backgraund-imgs/gallery-bgi-1@2x.jpg 2x"
                media="(min-width: 768px)">
            <img src="./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-1.jpg" alt="Фонове зображення"
                width="144">
        </picture>
    </div>
    <div class="tablet__bg-el-8">
        <picture class="main-bg-wrap__photo">
            <source srcset="
                                            ./images/bitmap/main/tablet/backgraund-imgs/gallery-bgi-2.jpg 1x,
                                            ./images/bitmap/main/tablet/backgraund-imgs/gallery-bgi-2@2x.jpg 2x"
                media="(min-width: 768px)">
            <img src="./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-2.jpg" alt="Фонове зображення" width="144">
        </picture>
    </div>
    <div class="tablet__bg-el-9"></div>
    <div class="tablet__bg-el-10"></div>
    <div class="tablet__bg-el-11"></div>
    <div class="tablet__bg-el-12">
        <picture class="main-bg-wrap__photo">
            <source srcset="
                                    ./images/bitmap/main/tablet/backgraund-imgs/gallery-bgi-3.jpg 1x,
                                    ./images/bitmap/main/tablet/backgraund-imgs/gallery-bgi-3@2x.jpg 2x"
                media="(min-width: 768px)">
            <img src="./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-3.jpg" alt="Фонове зображення" width="144">
        </picture>
    </div>
    <div class="tablet__bg-el-13"></div>
    <div class="tablet__bg-el-14"></div>
    <div class="tablet__bg-el-15"></div>
    <div class="tablet__bg-el-16"></div>
    <div class="tablet__bg-el-17"></div>
    <div class="tablet__bg-el-18">
        <picture class="main-bg-wrap__photo">
            <source srcset="
                                    ./images/bitmap/main/tablet/backgraund-imgs/gallery-bgi-4.jpg 1x,
                                    ./images/bitmap/main/tablet/backgraund-imgs/gallery-bgi-4@2x.jpg 2x"
                media="(min-width: 768px)">
            <img src="./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-4.jpg" alt="Фонове зображення" width="144">
        </picture>
    </div>
    <div class="tablet__bg-el-19"></div>
    <div class="tablet__bg-el-20"></div>
    <div class="tablet__bg-el-21"></div> 
    <div class="tablet__bg-el-22"></div>
    <div class="tablet__bg-el-23"></div>
    <div class="tablet__bg-el-24"></div>
    <div class="tablet__bg-el-25"></div>
    <div class="tablet__bg-el-26"></div>
</div>


<!-- DESKTOP BACKGROUND -->
<div class="main-bg-wrap container">
    <div class="main-bg-wrap__element el-1"></div>
    <div class="main-bg-wrap__element el-2"></div>
    <div class="main-bg-wrap__element el-3"></div>
    <div class="main-bg-wrap__element el-4"></div>
    <div class="main-bg-wrap__element el-5"></div>
    <div class="main-bg-wrap__element el-6">
        <picture class="main-bg-wrap__photo">
            <source srcset="
                    ./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-1.jpg 1x,
                    ./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-1@2x.jpg 2x"
                media="(min-width: 1440px)">
            <img src="./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-1.jpg" alt="Фонове зображення" width="144">
        </picture>
    </div>
    <div class="main-bg-wrap__element el-7"></div>
    <div class="main-bg-wrap__element el-8">
        <picture class="main-bg-wrap__photo">
            <source srcset="
                            ./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-2.jpg 1x,
                            ./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-2@2x.jpg 2x" media="(min-width: 1440px)">
            <img src="./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-2.jpg" alt="Фонове зображення" width="144">
        </picture>
    </div>
    <div class="main-bg-wrap__element el-9"></div>
    <div class="main-bg-wrap__element el-10"></div>
    <div class="main-bg-wrap__element el-11"></div>
    <div class="main-bg-wrap__element el-12"></div>
    <div class="main-bg-wrap__element el-13">
        <picture class="main-bg-wrap__photo">
            <source srcset="
                    ./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-3.jpg 1x,
                    ./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-3@2x.jpg 2x"
                media="(min-width: 1440px)">
            <img src="./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-3.jpg" alt="Фонове зображення" width="144">
        </picture>
    </div>
    <div class="main-bg-wrap__element el-14"></div>
    <div class="main-bg-wrap__element el-15"></div>
    <div class="main-bg-wrap__element el-16"></div>
    <div class="main-bg-wrap__element el-17"></div>
    <div class="main-bg-wrap__element el-18"></div>
    <div class="main-bg-wrap__element el-19"></div>
    <div class="main-bg-wrap__element el-20"></div>
    <div class="main-bg-wrap__element el-21">
        <picture class="main-bg-wrap__photo">
            <source srcset="
                    ./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-4.jpg 1x,
                    ./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-4@2x.jpg 2x"
                media="(min-width: 1440px)">
            <img src="./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-4.jpg" alt="Фонове зображення" width="144">
        </picture>
    </div>
    <div class="main-bg-wrap__element el-22"></div>
    <div class="main-bg-wrap__element el-23"></div>
    <div class="main-bg-wrap__element el-24"></div>
    <div class="main-bg-wrap__element el-25">
        <picture class="main-bg-wrap__photo">
            <source srcset="
                    ./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-5.jpg 1x,
                    ./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-5@2x.jpg 2x"
                media="(min-width: 1440px)">
            <img src="./images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-5.jpg" alt="Фонове зображення" width="144">
        </picture>
    </div>
    <div class="main-bg-wrap__element el-26"></div>
    <div class="main-bg-wrap__element el-27"></div>
    <div class="main-bg-wrap__element el-28"></div>
</div>


