<section class="photos" id="photos">
    <div class="photos__container">
        <h2 class="photos__title">БІЛЬШЕ ФОТО</h2>
         <ul class="photos__list">
            <li class="photos__item" >
                <a href="#img1" class="photos__link">
                    <picture class="photo">
                        <source srcset="
                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-1.webp 1x,
                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-1@2x.webp 2x,
                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-1.jpg 1x,
                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg 2x"
                            media="(min-width: 1440px)">
                        <source srcset="
                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-1.webp 1x,
                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-1@2x.webp 2x,
                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-1.jpg 1x,
                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="
                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-1.webp 1x,
                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-1@2x.webp 2x,
                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-1.jpg 1x,
                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-1.jpg" alt="Приклад робіт">
                    </picture>
                </a>
                <div id="img1" class="popup">
                    <a href="#photos" class="close">X</a>
                    <img class="full-img" src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg" alt="">
                </div>
            </li>
            <li class="photos__item">
                <a href="#img2" class="photos__link">
                    <picture class="photo">
                        <source srcset="
                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-2.webp 1x,
                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-2@2x.webp 2x,
                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-2.jpg 1x,
                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg 2x"
                            media="(min-width: 1440px)">
                        <source srcset="
                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-2.webp 1x,
                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-2@2x.webp 2x,
                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-2.jpg 1x,
                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="
                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-2.webp 1x,
                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-2@2x.webp 2x,
                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-2.jpg 1x,
                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-2.jpg" alt="Приклад робіт">
                    </picture>
                </a>
                <div id="img2" class="popup">
                    <a href="#photos" class="close">X</a>
                    <img class="full-img" src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg" alt="">
                </div>
            </li>
            <li class="photos__item">
                <a href="#img3" class="photos__link">
                <picture class="photo">
                    <source srcset="
                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-3.webp 1x,
                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-3@2x.webp 2x,
                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-3.jpg 1x,
                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg 2x"
                            media="(min-width: 1440px)">
                        <source srcset="
                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-3.webp 1x,
                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-3@2x.webp 2x,
                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-3.jpg 1x,
                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="
                        ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-3.webp 1x,
                        ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-3@2x.webp 2x,
                        ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-3.jpg 1x,
                        ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-3.jpg" alt="Приклад робіт">
                </picture>
                </a>
                <div id="img3" class="popup">
                    <a href="#photos" class="close">X</a>
                    <img class="full-img" src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg" alt="">
                </div>
            </li>
            <li class="photos__item">
                <a href="#img4" class="photos__link">
                    <picture class="photo">
                        <source srcset="
                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-4.webp 1x,
                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-4@2x.webp 2x,
                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-4.jpg 1x,
                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-4@2x.jpg 2x"
                            media="(min-width: 1440px)">
                        <source srcset="
                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-4.webp 1x,
                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-4@2x.webp 2x,
                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-4.jpg 1x,
                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-4@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="
                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-4.webp 1x,
                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-4@2x.webp 2x,
                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-4.jpg 1x,
                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-4@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-4.jpg" alt="Приклад робіт">
                    </picture>
                </a>
                <div id="img4" class="popup">
                    <a href="#photos" class="close">X</a>
                    <img class="full-img" src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-4@2x.jpg" alt="">
                </div>
            </li>
            <li class="photos__item">
                <a href="#img5" class="photos__link">
                <picture class="photo">
                        <source srcset="
                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-5.webp 1x,
                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-5@2x.webp 2x,
                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-5.jpg 1x,
                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-5@2x.jpg 2x"
                            media="(min-width: 1440px)">
                        <source srcset="
                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-5.webp 1x,
                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-5@2x.webp 2x,
                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-5.jpg 1x,
                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-5@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="
                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-5.webp 1x,
                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-5@2x.webp 2x,
                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-5.jpg 1x,
                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-5@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-5.jpg" alt="Приклад робіт">
                    </picture>
                </a>
                <div id="img5" class="popup">
                    <a href="#photos" class="close">X</a>
                    <img class="full-img" src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-5@2x.jpg" alt="">
                </div>
            </li>
            <li class="photos__item">
                <a href="#img6" class="photos__link">
                    <picture class="photo">
                        <source srcset="
                                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-6.webp 1x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-6@2x.webp 2x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-6.jpg 1x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-6@2x.jpg 2x"
                            media="(min-width: 1440px)">
                        <source srcset="
                                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-6.webp 1x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-6@2x.webp 2x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-6.jpg 1x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-6@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="
                                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-6.webp 1x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-6@2x.webp 2x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-6.jpg 1x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-6@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-6.jpg" alt="Приклад робіт">
                    </picture>
                </a>
                <div id="img6" class="popup">
                    <a href="#photos" class="close">X</a>
                    <img class="full-img" src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-6@2x.jpg" alt="">
                </div>
            </li>
            <li class="photos__item">
                <a href="#img7" class="photos__link">
                    <picture class="photo">
                        <source srcset="
                                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-7.webp 1x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-7@2x.webp 2x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-7.jpg 1x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-7@2x.jpg 2x"
                            media="(min-width: 1440px)">
                        <source srcset="
                                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-7.webp 1x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-7@2x.webp 2x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-7.jpg 1x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-7@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="
                                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-7.webp 1x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-7@2x.webp 2x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-7.jpg 1x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-7@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-7.jpg" alt="Приклад робіт">
                    </picture>
                </a>
                <div id="img7" class="popup">
                    <a href="#photos" class="close">X</a>
                    <img class="full-img" src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-7@2x.jpg" alt="">
                </div>
            </li>
            <li class="photos__item">
                <a href="#img8" class="photos__link">
                    <picture class="photo">
                        <source srcset="
                                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-8.webp 1x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-8@2x.webp 2x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-8.jpg 1x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-8@2x.jpg 2x"
                            media="(min-width: 1440px)">
                        <source srcset="
                                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-8.webp 1x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-8@2x.webp 2x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-8.jpg 1x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-8@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="
                                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-8.webp 1x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-8@2x.webp 2x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-8.jpg 1x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-8@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-8.jpg" alt="Приклад робіт">
                    </picture>
                </a>
                <div id="img8" class="popup">
                    <a href="#photos" class="close">X</a>
                    <img class="full-img" src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-8@2x.jpg" alt="">
                </div>
            </li>
            <li class="photos__item">
                <a href="#img9" class="photos__link">
                    <picture class="photo">
                        <source srcset="
                                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-9.webp 1x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-9@2x.webp 2x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-9.jpg 1x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-9@2x.jpg 2x"
                            media="(min-width: 1440px)">
                        <source srcset="
                                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-9.webp 1x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-9@2x.webp 2x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-9.jpg 1x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-9@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="
                                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-9.webp 1x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-9@2x.webp 2x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-9.jpg 1x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-9@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-9.jpg" alt="Приклад робіт">
                    </picture>
                </a>
                <div id="img9" class="popup">
                    <a href="#photos" class="close">X</a>
                    <img class="full-img" src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-9@2x.jpg" alt="">
                </div>
            </li>
            <li class="photos__item">
                <a href="#img10" class="photos__link">
                    <picture class="photo">
                        <source srcset="
                                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-10.webp 1x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-10@2x.webp 2x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-10.jpg 1x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-10@2x.jpg 2x"
                            media="(min-width: 1440px)">
                        <source srcset="
                                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-10.webp 1x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-10@2x.webp 2x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-10.jpg 1x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-10@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="
                                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-10.webp 1x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-10@2x.webp 2x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-10.jpg 1x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-10@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-10.jpg" alt="Приклад робіт">
                    </picture>
                </a>
                <div id="img10" class="popup">
                    <a href="#photos" class="close">X</a>
                    <img class="full-img" src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-10@2x.jpg" alt="">
                </div>
            </li>
            <li class="photos__item">
                <a href="#img11" class="photos__link">
                    <picture class="photo">
                        <source srcset="
                                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-11.webp 1x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-11@2x.webp 2x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-11.jpg 1x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-11@2x.jpg 2x"
                            media="(min-width: 1440px)">
                        <source srcset="
                                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-11.webp 1x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-11@2x.webp 2x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-11.jpg 1x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-11@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="
                                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-11.webp 1x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-11@2x.webp 2x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-11.jpg 1x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-11@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-11.jpg" alt="Приклад робіт">
                    </picture>
                </a>
                <div id="img11" class="popup">
                    <a href="#photos" class="close">X</a>
                    <img class="full-img" src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-11@2x.jpg" alt="">
                </div>
            </li>
            <li class="photos__item">
                <a href="#img12" class="photos__link">
                    <picture class="photo">
                        <source srcset="
                                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-12.webp 1x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-12@2x.webp 2x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-12.jpg 1x,
                                            ./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-12@2x.jpg 2x"
                            media="(min-width: 1440px)">
                        <source srcset="
                                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-12.webp 1x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-12@2x.webp 2x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-12.jpg 1x,
                                            ./images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-12@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="
                                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-12.webp 1x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-12@2x.webp 2x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-12.jpg 1x,
                                            ./images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-12@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-12.jpg" alt="Приклад робіт">
                    </picture>
                </a>
                <div id="img12" class="popup">
                    <a href="#photos" class="close">X</a>
                    <img class="full-img" src="./images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-12@2x.jpg" alt="">
                </div>
            </li>
        </ul>
        <div class="loading">
            <div class="loading__container">
                <div class="loading_element element_01"></div>
                <div class="loading_element element_02"></div>
                <div class="loading_element element_03"></div>
                <div class="loading_element element_04"></div>
                <div class="loading_element element_05"></div>
                <div class="loading_element element_06"></div>
                <div class="loading_element element_07"></div>
                <div class="loading_element element_08"></div>
            </div>
        </div>
    </div>
</section>
<!-- OVERLAY + IMAGE CAROUSEL -->