<section class="scanning">
  <div class="scanning__box container">
    <h2 class="scanning__title">ПРОЦЕС 3D СКАНУВАННЯ</h2>
  <ul class="scanning__list">
    <li class="scanning__item">
      <h3 class="scanning__text">Підготовка деталі <br> до сканування</h3>
    </li>
    <li class="scanning__item">
      <h3 class="scanning__text">Створення сканів <br> і їх обробка</h3>
    </li>
    <li class="scanning__item">
      <h3 class="scanning__text">
        Перетворення <span lang="en">reverse engineering</span>
      </h3>
    </li>
    <li class="scanning__item">
      <h3 class="scanning__text">Підготовка моделі <br> до друку</h3>
    </li>
  </ul>
  <a class="button" href="">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
  </div>
</section>
