@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Cera Pro", sans-serif;
  color: #2b2b2b;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.eot");
  src: local("☺"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype"), url("../fonts/CeraPro-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Light.eot");
  src: local("☺"), url("../fonts/CeraPro-Light.woff") format("woff"), url("../fonts/CeraPro-Light.ttf") format("truetype"), url("../fonts/CeraPro-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.eot");
  src: local("☺"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype"), url("../fonts/CeraPro-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.eot");
  src: local("☺"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype"), url("../fonts/CeraPro-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams.eot");
  src: local("☺"), url("../fonts/CaviarDreams.woff") format("woff"), url("../fonts/CaviarDreams.ttf") format("truetype"), url("../fonts/CaviarDreams.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/Caviar_Dreams_Bold.eot");
  src: local("☺"), url("../fonts/Caviar_Dreams_Bold.woff") format("woff"), url("../fonts/Caviar_Dreams_Bold.ttf") format("truetype"), url("../fonts/Caviar_Dreams_Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

img {
  display: block;
  height: auto;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.header-nav__list {
  display: flex;
  padding-top: 14px;
}

.header-nav__item:not(:last-child) {
  margin-right: 56px;
}

.header-contact__list {
  margin-left: auto;
}

.dropbtn::after {
  content: "";
  color: #000;
}

.container {
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 20px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 149px;
    margin-bottom: 100px;
  }
}

.photos__title {
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 16px;
  color: #487996;
}
@media screen and (min-width: 768px) {
  .photos__title {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .photos__title {
    font-size: 48px;
    line-height: 1.25;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .photos__list {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
  }
}

.photos__item:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .photos__item {
    margin: 16px;
  }
}

.loading {
  padding-top: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .loading {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .loading {
    padding-top: 19px;
  }
}

.loading__container {
  position: relative;
  width: 29px;
  height: 29px;
  margin: auto;
}

.loading_element {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 1px;
  height: 5px;
  border-radius: 1px 1px 0 0;
  -o-border-radius: 1px 1px 0 0;
  -ms-border-radius: 1px 1px 0 0;
  -webkit-border-radius: 1px 1px 0 0;
  -moz-border-radius: 1px 1px 0 0;
  transform: scale(0.4);
  -o-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  animation-name: loading-spinner;
  -o-animation-name: loading-spinner;
  -ms-animation-name: loading-spinner;
  -webkit-animation-name: loading-spinner;
  -moz-animation-name: loading-spinner;
  animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}

.element_01 {
  left: 0;
  top: 13px;
  animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  -ms-animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

.element_02 {
  left: 4px;
  top: 4px;
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.element_03 {
  left: 13px;
  top: 1px;
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}

.element_04 {
  right: 4px;
  top: 4px;
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.element_05 {
  right: 1;
  top: 13px;
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

.element_06 {
  right: 5px;
  bottom: 3px;
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
}

.element_07 {
  bottom: 0;
  left: 15px;
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.element_08 {
  left: 5px;
  bottom: 3px;
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
}

@keyframes loading-spinner {
  0% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}
@-webkit-keyframes loading-spinner {
  0% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}/*# sourceMappingURL=index.css.map */